[2017-01-15 04:16] trolster opened #1 "Assign count shows '0' if script is started with 2 reviews assigned"

[2017-01-15 04:17] trolster commented on #1
It eventually gets it right.

[2017-02-01 17:32] trolster opened #2 "Assign script should refresh the submission_request when the user exits without deleting it."
If the user is exiting without deleting we can assume that they want the submission_request to persist as long as possible.

[2017-02-03 21:25] trolster opened #3 "The format YYYY-MM isn't working with the money command"
This only refers to when you are using month numbers as arguments, not when you are using options.

[2017-02-03 21:26] trolster commented on #3
This only refers to when you are using month numbers as arguments, not when you are using options.

[2017-02-03 23:41] giladgressel opened #4 "Notify other devices when a submission is assigned."
would love the option to receive an email if the job has been assigned.
I'm happy to try and help except I know nothing about web stuff.

I tried using this method in the udacity script
[code]

It works for @ntaylorwss (you have to reduce permissions on your gmail) but hasn't worked for me.

[2017-02-03 23:45] trolster commented on #4
This is only for running the script on a server, right?

[2017-02-03 23:47] giladgressel commented on #4
yea that's the main reason, I have it on a t2.micro running in cloud so I can leave my laptop closed overnight, or during the day etc.  email would let me know I need to get back to work

[2017-02-04 00:38] trolster commented on #4
In the case of running it on a server, you are not interested in getting an email if you receive feedback from a student, correct? It's only if you get an assignment?

[2017-02-04 01:08] gabraganca commented on #4
Another option would sending the notification using [Pushbullet][pb]. People would have to create an account,  get a token and the app.

There is [this][node] module to node but I only use it with Python.

[pb]: https://www.pushbullet.com
[node]: https://github.com/alexwhitman/node-pushbullet-api

[2017-02-04 04:16] trolster commented on #4
@giladgressel, please take a look at [Pushbullet](https://www.pushbullet.com/) and see if it won't fit your needs.

The reason I'd rather go with Pushbullet is that email will require some kind of setup step, while Pushbullet just uses a token. That means the command might look something like this:

`urcli assign all --push "yourPushbulletToken"`.

Pushbullet also seems quite useful in general.

[2017-02-04 06:13] giladgressel commented on #4
so I guess with this, I could install the pushbullet app in chrome and then wherever I have chrome it'd notify me?  or similarily also do it in my phone etc.  seems great to me!  Is it difficult to implement?

[2017-02-04 07:01] trolster commented on #4
It's fairly simple. And you'll only need it installed on the device you want notifications on. I would implement it so that all active devices with pushbullet installed would be notified.

I think not having to have a separate setup process for email makes it attractive in this case. And it only requires a Google Account to get started.

[2017-02-05 02:41] trolster commented on #4
@giladgressel @gabraganca, I've integrated PushBullet with the `assign` command in the branch `issue-4`. If you could, please take the time to clone the branch and test if the notifications are working (they work for me).

Usage is documented in the README. Feel free to ask questions on slack.

[2017-02-05 02:45] #1 closed

[2017-02-05 03:30] giladgressel commented on #4
wow thank you @trolster I'm downloading node right now will let you know.  I will test on laptop first, then on server later

[2017-02-05 04:52] #3 closed

[2017-02-05 04:54] #2 closed

[2017-02-05 16:08] rpalsaxena opened #7 "Get a new token from the API Access link in the Reviewer Dashboard."
Hi,

I am a reviewer of DLNF. I am unable to see any API access option on my [Reviewer Dashboard](https://review.udacity.com/#!/submissions/dashboard).

![image](https://cloud.githubusercontent.com/assets/8288236/22627558/5b2a78ec-ebeb-11e6-8c5d-9068941ab0e7.png)

How can I generate an API key?

[2017-02-05 19:45] trolster commented on #7
Hi @rpalsaxena, since this isn't related to the cli, but instead related to the Udacity Reviews Dashboard, I'm closing this and catching you on slack instead.

In case it helps anybody you should try to re-log, and if that doesn't work, write to review-support@udacity.com.

[2017-02-05 19:45] #7 closed

[2017-02-05 21:11] gabraganca commented on #4
@trolster :+1:

[2017-02-07 18:30] gabraganca commented on #4
@trolster we have already talked in the Slack, but I'll summarize it below for the records.

I've tested the PushBullet feature and it worked nicely. It has sent a notification to my phone and tablet, where I have PushBullet installed.

I also have the Chrome extension and, instead of pushing a notification, it opens the PushBullet website.

Also, what do you think about storing the PushBullet tok

[2017-02-07 18:43] trolster commented on #4
@gabraganca At this point that would require a rewrite of the setup command. It's something I considered doing, but it will be time-consuming and I don't want to invest the time unless it's something that really makes a difference for people.

What I might do is to allow you to only have to add the accessToken once. Meaning that the first time you use the `--push` option the accessToken is saved.

[2017-02-07 19:17] gabraganca commented on #4
That sounds wonderful!

[2017-02-07 20:47] giladgressel commented on #4
This has been working great for me.  I thought about what @gabraganca suggested as well, but honestly it's not worth implementing.  I can easily alias my command OR us the "up" arrow, OR use control-R to search for it.  The token is long but no big deal.  Having push notifications / the testing of it is AWESOME
thank you!

[2017-02-07 21:07] trolster commented on #4
@giladgressel @gabraganca I think we all agree that the storing of the token is not a need-to-have. My main issue with adding it to the setup step is that it might confuse people. Lets create a separate issue for it, once the new version has been published, to make sure it isn't forgotten. It could simply get it's own command, `urcli pushbullet --set-access-token "accessToken"`. It's worth conside

[2017-02-07 21:12] gabraganca commented on #4
Great! I love it!

[2017-02-09 15:52] trolster commented on #4
Notifications using the pushbullet API are now in the newest version of the cli (1.3.1).

[2017-02-09 15:52] #4 closed

[2017-02-11 05:35] giladgressel opened #10 "how to update projects when the price per project changes?"
Hey Mikkel, I'm not sure if this is an issue or not, but I thought I'd just ask here.

They've been changing the price/project for the DLNDF project.  So my setup thinks it's 40/per but now it's 30/per.  This makes the money command wrong (especially confusing since I've graded some projects at each price range now).

Can I just re-run setup and it will get the right prices?  I don't need it to tr

[2017-02-11 06:13] trolster commented on #10
Hi @giladgressel, `let price = parseInt(review.price)`, on line 106 -> It checks what the price is in each review object that has been returned by the API. This is the number that's added to the total. So if you are still getting the $40 price, that is what you are getting paid.

In other words the total should not be off since it's reading prices _individually_ from each review object returned fo

[2017-02-11 16:59] giladgressel commented on #10
Hey Mikkel.  So I compared the results from `money` with https://simplydallas.github.io/udacityreviewparser/
and they aren't the same -- they are disagreeing, the results from Dallas's parser seem correct, it's tracking the change price I was expecting, while the `money` command seems to be pricing all the projects at the original price..  I am still using the branch of the app that you had made t

[2017-02-11 18:41] giladgressel commented on #10
yea so using the latest urcli 1.3.1 I'm still getting the wrong total from the `money` command. It's catching the correct number of reviews per project, but is putting them all at the same price -- which isn't correct since the price changed for the last 4 that I did

[2017-02-11 19:07] giladgressel commented on #10
OHKAY problem solved.
I was reading `total-reviewed` to mean - `total_assigned` when it's not.  It's the projects I submitted a review for and got a full payment on.  So it is tracking payments perfectly.
thanks.  cool that it auto-adjusts if the price changes with no effort on our part.

[2017-02-11 19:09] trolster commented on #10
Needs an interface change. New issue will be opened to deal with this confusion.

[2017-02-11 19:09] #10 closed

[2017-02-11 19:09] giladgressel opened #11 "request : add "total-assigned" field for the `money` command"
This would just help dummies like me figure things out a little more easily.

right now `urcli money` returns
[code]

I thought for some reason that `x` was a subset of `y`.  However it's not, they are added together.
I think if a field
`total assigned` was added, which was the sum of `x` and `y` this would eliminate any potential confusions

thanks!

[2017-02-11 19:26] trolster commented on #11
This will be fixed with the next release.

[2017-02-12 07:11] trolster commented on #11
Now I'm wondering if we shouldn't simply add Ungradeable to the Total Reviewed? If people think of "can't review" as a review anyway, it might be the most practical solution.

[2017-02-12 11:35] gabraganca commented on #11
You could separate it in three parts.

[code]

[2017-02-12 13:54] trolster commented on #11
Building on @gabraganca's idea:

[code]

It doesn't count any reviews where the reviewer unassigned themselves, so total assigned will not always be completely accurate. What do you guys think?

[2017-02-13 10:33] gabraganca commented on #11
I didn't know that the unassigned reviews were tracked. Would it be possible to do something like this:

[code]

If that is too much, what about a `--full` flag, where the detailed stats would be shown. Example:

[code]

[2017-02-13 11:13] trolster commented on #11
I didn't mean to imply that unassigned reviews are tracked 😄, they are not. I was just commenting that "total assigned" would not be correct, since unassigned aren't tracked, and there is nothing we can do about that.

I think we are landing on the following:

[code]

It only adds one line and adds quite a bit of clarity. Let us know what you think @giladgressel.

[2017-02-13 12:07] gabraganca commented on #11
It seems I misunderstood. But, I guess, the unassignment rate would be a good thing to have. At least for the Udacity people. :smile: I know that this discussion if out of scope and I'll be dropping it. :+1:

The above format looks awesome! Thanks!

[2017-02-13 17:49] giladgressel commented on #11
I think the proposed format

[code]

looks solid to me.

[2017-02-13 18:34] gabraganca commented on #11
By the way, I'm not a not an English native speaker, but the correct would not be `ungradable` instead of `ungreadable`?

[2017-02-13 18:44] gabraganca opened #12 "Feature Request: Earnings Heatmap"
An earning punch card would be an interesting addition to `ur-cli`.

Maybe we could use [this library](https://github.com/IonicaBizau/cli-gh-cal).

And, maybe,  the use could call it using a `--punchcard` flag.

What are your thoughts?

[2017-02-13 18:49] trolster commented on #11
From the API response:

[code]

😄

[2017-02-14 07:44] trolster commented on #12
I'd really like to see this feature. I think it should be based on how much money you made on a given day, rather than how many reviews you did, since number of reviews don't accurately reflect daily activity.

What do you think of activity being divided like so:
[code]

[cli-gh-cal](https://github.com/IonicaBizau/cli-gh-cal) is a good jumping off point for something like this, but can't be used f

[2017-02-14 15:53] trolster commented on #11
Here is the format in 1.4.0:

[code]

[2017-02-14 15:53] #11 closed

[2017-02-14 17:10] gabraganca opened #13 "Total Assigned printing"
It seems that in the commit 027c21d164179fbda2815c197977484834b99f13, the printing of the `totalAssigned` variable was erased.

[2017-02-14 17:25] gabraganca commented on #12
I totally agree that should be based on the money made in the day instead of the number of reviews. And the values are interesting.

 Regarding how to call it, how difficult do you think would be to add the functionality of showing certain periods?

[2017-02-14 17:39] gabraganca commented on #13
I was writing a hotfix to send as PR and saw that it has been moved to the top.

[2017-02-14 17:39] #13 closed

[2017-02-14 21:10] trolster commented on #12
At this point I have no idea, but it looks like there are quite a few heatmap packages out there. I will take a look and share on slack.

I wonder if we should do it in the browser instead. Would be simple enough to open it in a new tab. But maybe that's for urcli v2 😆 ..

[2017-02-14 21:39] gabraganca commented on #12
Great!

To have this on the browser seems a good idea. But then, I guess it would not be a command line interface and the `cli` would have to be dropped. :smile:

[2017-02-15 09:31] trolster opened #14 "Move .apiConfig.json to home folder"
Currently, user setup is stored in .apiConfig.json, which is located in the root folder of the package. This means that you have to rerun setup whenever you update. If .apiConfig instead resides in the users home folder, it will persist across updates.

[2017-02-15 13:01] trolster commented on #14
I'm adding the bug label because this issue is what causes many to have to use sudo with the setup command. It should be considered a security issue.

[2017-02-17 20:21] trolster commented on #14
Fixed in 1.5.0.

[2017-02-17 20:21] #14 closed

[2017-02-18 14:18] gabraganca opened #16 "Feature Request: Daily Average Earnings"
I'd like to implement a new feature where the daily average earnings would be implemented.

**Reasoning**: I think that this new feature would help us measure our productivity.

**Example**:

The desired behavior would be.

[code]

[code]

Where only the last line, before the `===` was added to the present implementation.

**Other comments:**

* When the user called `urcli money today`, this would

[2017-02-19 23:24] trolster commented on #16
The only little thought I had was that I think it would be enough to call it `Daily Average`:

[code]

Otherwise I think your idea is great!

[2017-02-21 21:17] #16 closed

[2017-02-22 03:40] trolster opened #20 "Move to Airbnb style guide, Eslint and Babel"
This will set up the project to have a more streamlined process for contributing as well as allow for the use of newer JavaScript features.

* I want to use the [Airbnb style guide](https://github.com/airbnb/javascript), partly because of it's popularity, and partly because it's closer to how most people write JavaScript compared to the Standard style guide.
* Eslint should help all contributors m

[2017-02-22 03:41] trolster opened #21 "Start testing"
The project obviously needs tests.

[2017-02-22 15:14] gabraganca commented on #21
Is it possible to create automated tests without a token?

[2017-02-22 15:19] trolster commented on #21
It's possible by mocking the API and (of course) if you are testing for errors. But if you want to test for actual data coming back from the API then you will need a token.

I'm currently looking at Jest for testing: https://facebook.github.io/jest/

[2017-02-23 19:59] gabraganca opened #26 "Notifications sounds not playing on Ubuntu"
My setup is Ubuntu 16.04 64 bits.

[2017-02-23 20:16] trolster opened #27 "Add badges to README"
We could add some useful badges from https://shields.io/. Which badges would be nice to have?

[2017-02-23 20:33] gabraganca commented on #27
Cool! For now, I'd suggest the:

* Number of downloads in a month
* License
* Version

[2017-02-23 20:36] gabraganca commented on #26
It seems that a sound is already being played when the system notifications pops-up.

Since my system is Ubuntu, I checked what is going on. `urcli` uses `node-notifier`, which uses `notify-osd` to create the notification bubble. But it seems that there is  a [known issue](https://bugs.launchpad.net/ubuntu/+source/notify-osd/+bug/549900) that this package does not play sound.

[2017-02-23 21:00] gabraganca commented on #26
This seems to be an issue on my system.

[2017-02-23 21:03] trolster commented on #26
Let's try and find out what is causing this and if there is a fix.

[2017-02-24 02:54] gabraganca opened #28 "PushBullet strange behavior with Chrome extension"
When using the PushBullet support together with the Chrome extension, it opens up the PushBullet web page instead of creating a notification.

This seems to be related directly with `node-pushbullet-api` and I opened an issue in alexwhitman/node-pushbullet-api#25.

[2017-02-24 21:29] #28 closed

[2017-02-24 21:34] trolster commented on #27
Do you want to take this one @gabraganca?

[2017-02-24 21:41] gabraganca commented on #27
Sure. I'll give a shot.

[2017-02-24 23:35] gabraganca commented on #27
I think we can close this now.

[2017-02-24 23:40] #27 closed

[2017-02-25 01:08] trolster commented on #20
Implemented in the latest PR.

[2017-02-25 01:08] #20 closed

[2017-02-25 17:11] gabraganca opened #34 "Hook project to a Continuous Integration system."
The purpose of this is to discuss the possibilities to hook the project to a Continuous Integration system.

[This tutorial][1] can be a good starting point.

[1]: https://docs.travis-ci.com/user/languages/javascript-with-nodejs/

[2017-02-25 17:19] trolster commented on #34
I'm going to look into this further. A cursory glance at Travis CI tells me this might be pretty easy to get started with. But I want to make sure I understand the implications. I'll probably have to go through this [complete beginners guide](https://docs.travis-ci.com/user/for-beginners) :smile:.

[2017-02-27 03:18] trolster commented on #21
Jest has been added in #32 .

[2017-02-27 03:19] #21 closed

[2017-02-28 09:27] trolster commented on #12
Just found this library for creating date ranges: https://github.com/gf3/moment-range.

[2017-02-28 23:52] gabraganca commented on #12
I was thinking in what do we need to put this together.

1. The value earned in each day of a year.
  I guess this step should be ok to build
2. The days of the year.
  The `moment-range` can come to the rescue! :ambulance:
3. Some way to visualize this.
  How to do this?

[2017-03-01 01:12] gabraganca opened #36 "Discussion: Renaming the "money" command"
We are looking for a replacement word for the `money` command.

The replacement should be something professional and easy to write.

We've come up with some ideas.

* pay
* earnings
* report
* paycheck
* salary

Fell free to also give suggestions.

[2017-03-01 03:55] trolster commented on #12
Yeah, the visualization is the problem. But honestly it looks totally doable with https://github.com/IonicaBizau/cli-gh-cal 😄 .

Also found [this insane library](https://www.npmjs.com/package/cal-heatmap) that returns SVG source code: http://cal-heatmap.com/#getSVG

[2017-03-01 04:29] trolster commented on #36
Calling it "money" was always a bit of a joke, like, "show me the money". But it's maybe not that descriptive. I think `earnings` is the most descriptive of the suggested alternatives.

[2017-03-01 12:49] gabraganca commented on #12
Great Finding! This Cal-HeatMap seems awesome!

But, if I understood it right, it is meant to be used in the browser.

[2017-03-02 02:04] gabraganca opened #37 "Tests are not quitting after running"
After running tests with `npm t`, it hangs there. The user has to press CTRL+C to quit it.

Another strange thing is if the user press SPACE+BACKSPACE when hanging, the following message appears:

This could be related to Jest, where an issue was opened (facebook/jest#1456).

[2017-03-02 02:10] trolster commented on #37
Fixed: https://github.com/trolster/urcli/pull/35/commits/6933d516a9997b7b62bdd71399b308c66f899c09

[2017-03-02 02:10] #37 closed

[2017-03-02 02:30] forbiddenvoid commented on #36
`revenue` is probably the closest English word that fits what that command actually does.

[2017-03-02 02:38] gabraganca commented on #36
I didn't even think about that one. Thanks @forbiddenvoid

[2017-03-02 03:14] trolster commented on #36
I like `report` for the fact that it will cover future functionality. But like @forbiddenvoid suggested, `revenue` seems most descriptive for current functionality.

[2017-03-02 04:02] giladgressel commented on #36
I liked the crass humor of "money" but yes, I agree `revenue` is probably the most respectable word.  `earnings` is a close 2nd.

[2017-03-02 20:15] gabraganca commented on #36
If we keep `report`, we could include the heatmap discussed in #12. Something like `urcli report --heatmap`.

[2017-03-02 20:21] giladgressel commented on #36
I wouldn't mind a `report` with flags as discussed in slack.  For example the "turn around time" isn't really interesting to me, so if we made it
`report -revenue` or `report -r` for short, that would be nice.
`report -r -t -h` for revenue, turn-around-time, heatmap etc
so, if you think you'll be building in more reporting sections, I vote for `report` now.

[2017-03-06 13:34] trolster commented on #36
I think there is agreement that `revenue` describes the current functionality best. Therefore I'll rename the `money` command to `revenue`. We can create a `report` command in the future that does more advanced stuff, and which may eventually replace the `revenue` command.

Since this is a breaking change I'll push it with the 2.0.0 release.

[2017-03-06 13:34] #36 closed

[2017-03-08 20:43] trolster opened #41 "Feature Request: Implement debug mode with error logging"
Activate debug mode by setting an environment variable.

Use something like `winston` (already a dependency) to log errors when the program is in debug mode.

[2017-03-10 15:01] gabraganca commented on #34
#### Status update

I've started implementing this, but the [tests will not run][tests] on Travis because the API token is not uploaded to Travis servers. It seems that it is possible to [encrypt the key and send it to Travis][enc].

[tests]: https://travis-ci.org/gabraganca/ur-cli/builds/209765873
[enc]: https://docs.travis-ci.com/user/encryption-keys/

[2017-03-10 23:12] sahiljuneja opened #42 "Running "assign all" throws an error - "Not certified for project(s) all""
### Expected behavior
Running `urcli assign all` should start the queue for me.

### Actual behavior
Get an error
`Error: Illegal Action: Not certified for project(s) all`

### Steps to reproduce the problem
I followed the steps detailed in the README.md. I downloaded the latest version just a few minutes ago. I think the error might be because I only have access to 1 project to review. Using "all

[2017-03-11 01:12] gabraganca commented on #42
Hi @sahiljuneja . Three questions:

1. Have you run `urcli setup "your-token"`? It creates a file called `.urcli_config.json` in your home directory. Can you verify if it contains the project you are certified for?

2. Can you run `urcli assign your-project-number` ?

3.  `urcli certs` updates your certification.  Can you run it to see if it solves it?

[2017-03-11 01:49] sahiljuneja commented on #42
Hi @gabraganca ,

1. Yes, I ran that command. Will that home directory be from where I ran the script? Because I can't find it.

2. Yes, I can run that command.

3. I am currently in queue for a project and I only get to review 1 project a day. Don't want to cancel it now. As soon as I get a project, I will try it again and update here.

[2017-03-11 09:54] trolster commented on #42
I have verified this bug and will take a look today. Thanks @sahiljuneja for reporting it.

[2017-03-11 10:13] trolster commented on #42
Pushed a fix to this issue and updated to 2.2.7 on npm. @sahiljuneja please use `npm install -g urcli` and verify that you have version 2.2.7 installed, `urcli -V`. Then try `urcli assign all` again and verify that the bug has been fixed.

[2017-03-11 21:32] sahiljuneja commented on #42
@trolster Thank you! I just tried those commands and it's working now.

[2017-03-11 21:32] #42 closed

[2017-03-12 02:07] giladgressel opened #43 "certs command has unexpected results, have to control-c to exit"
# Bug

### Expected behavior
would grab all my certs and display them? I'm not sure honestly
### Actual behavior
Displays all my certs and leaves me in a some sort of state where it doesn't exit whatever it's done

if I then type something like `a` or `b` and then delete it, it pops up a request for my language

here is some redacted output (redacted my token and most of the projects)
[code]

###

[2017-03-12 02:25] giladgressel opened #44 "unable to setup?"
Ok this is now on my mac OSX .  Just thought I'd set it up here as well.
I used `sudo npm install -g urcli` and everything was happy
Then I went for
`urcli setup token 'blahblahbal'` and I get this

### Expected behavior
setup my account
### Actual behavior
I redacted my token here
[code]

### Steps to reproduce the problem
just running setup, certs, revenue anything gets me that answer.
I previou

[2017-03-12 09:56] trolster commented on #44
Are you using the exact command: `urcli setup token "your-token"`. If so, you are using the word `token` as the token, in which case this would be a natural error. Try using `urcli setup "your-token"` instead, without the extra word `token` in there. Hopefully it works :smile:.

[2017-03-12 15:51] giladgressel commented on #44
oh geez
so embarrassing
yup that was the problem. that's what I get for trying to remember commands instead of looking at the docs everytime

[2017-03-12 16:38] trolster commented on #44
No worries, I'd much rather you open issues about such things, than feel like you have to be super careful it's not user error. The thing is, there should be an error message telling you that you gave it the wrong token, so it's still valuable info.

[2017-03-12 16:38] #44 closed

[2017-03-13 13:42] bruferrari opened #46 "urcli setup failed"
Hi, I'm trying to use the urcli and after install the urcli when I'm tying to setup I'm getting this error:
[code]
The command executed was `urcli setup "my-token"`, I'm doing something wrong or it's a bug?

Thanks in advance.

[2017-03-13 13:45] trolster commented on #46
Which version of node are you using? `node -v`. You need to use Node.js version 6.0.0+.

[2017-03-13 13:47] bruferrari commented on #46
Oh, I didn't realized it, I'm using 5.5.0, sorry about that, maybe it is the problem...  I'll update my node and post the results here.

[2017-03-13 13:50] bruferrari commented on #46
running on 7.6.0 now and everything is just fine, thanks for all. 😄

[2017-03-13 13:52] trolster commented on #46
Not a problem. It reminds me to add version info to the issue template :smile:. Happy reviewing!

[2017-03-13 13:52] #46 closed

[2017-03-14 10:19] trolster commented on #34
I'm going to say this is a v3 feature and we can encapsulate any discussion and development in the version 3 project.

[2017-03-14 10:19] #34 closed

[2017-03-14 10:21] trolster commented on #26
This seems like a non-issue to most people and needs a workaround in the OS itself, so it's not useful to keep this open.

[2017-03-14 10:21] #26 closed

[2017-03-14 12:42] #43 closed

[2017-03-17 04:14] giladgressel opened #49 "feature request (old feature actually)"
the pushbullet notifications used to tell me what project I was assigned
they no longer do that.
I liked the old one more :)
that's it!

[2017-03-17 04:18] giladgressel opened #50 "notifications occur a "second" time if i've got a project to review but am updating my `assign` command"
# Guidelines to submit an issue

**Please make sure that your have the latest version of Node.js installed before you report a bug.** The command is `node -v` and you need version 6 or higher.

---
If you are opening an issue because you would like to propose a new feature,
please write the title as "Feature Request:" followed by a short description of the feature.

Describe bugs using this templa

[2017-03-17 08:46] trolster commented on #50
This is expected behavior. It could be changed to fit the expected behavior described here, by maintaining a log file with recent notifications, but I don't think it's warranted at this time.

[2017-03-17 08:46] #50 closed

[2017-03-17 08:48] trolster commented on #49
I'll take a look at this over the weekend :-).

[2017-03-17 14:32] giladgressel commented on #50
understood, thanks for explaining

[2017-03-17 15:06] gabraganca commented on #49
I think this modification was introduced when we've changed the PushBullet notification from a note to a link.

[2017-03-17 15:13] giladgressel commented on #49
the old notification also used to include a link
here is a screen of the old/new next to each other.
<img width="381" alt="screen shot 2017-03-17 at 8 12 29 am" src="https://cloud.githubusercontent.com/assets/6275366/24049512/86133612-0ae9-11e7-8e7f-29a4bba01229.png">

[2017-03-17 15:14] gabraganca opened #51 "System notification show assigned number equal to 0"
## Which version of Node.js are you running?
v6.10.0

## Which version of `urcli` are you running?
2.3.0
## What behavior were you expecting to see?
The system notification should show in the title "New Review Assigned! (2)"

## What was the actual behavior?

The system notification shows in the title "New Review Assigned! (0)"

## Describe the steps needed to reproduce the problem?

Get two proje

[2017-03-17 15:15] trolster commented on #51
This is fixed in PR #47 .

[2017-03-17 15:15] #51 closed

[2017-03-17 16:07] gabraganca commented on #51
Ah! This was not merged! That's why I was pressing 0 and the dashboard was not opening. :grimacing:

[2017-03-17 16:25] gabraganca opened #52 "Feature Request: First day on the job on the configuration file"
Almost every time `revenue` is run, it checks if the interval, where the earnings will be calculated, have the first day working as a reviewer. This could be avoided if this information was stored in the configuration file when the user runs `setup`.

* **Pros**: The `revenue` code would be cleaner and there would no need to calculate it almost every time `revenue`is run.

* **Cons**: Users would

[2017-03-17 17:44] gabraganca opened #53 "Feature Request: Show review's price"
Udacity is adjusting the price for the reviews and, as pointed by @giladgressel on Slack, API users usually assigned themselves the reviews before checking the price.

My suggestion is to show the price for each review in the queue line. This way, we will know it before being assigned a review.

[2017-03-17 17:55] giladgressel commented on #53
This would be nice, currently I sign into the dashboard and click around to add/remove projects in order to check prices.
Would be cool if they show on-screen with the API since udacity has made it clear they will change prices regularly and without any notice

[2017-03-17 18:01] gabraganca commented on #53
@giladgressel I was doing the same as you Then I  run `urcli certs` and it updated the values in the configuration file and also showed the new prices.

[2017-03-17 18:36] trolster commented on #53
This cannot be done with the data that is available from the API call to get the queue positions. It is available however from the API call that gets reviews that are assigned. What that means is that either you would have to schedule an API call every 30 mins? to check the price, including checking the price on start, or you update the price by comparing the stored one to those that you get assig

[2017-03-17 18:40] trolster commented on #52
I agree that this change would make sense. It would be a breaking change since you have to rerun `setup`, so it's a good feature for version 3.

[2017-03-17 19:03] gabraganca commented on #53
I see. And what about putting it into the assigned table? The reviewer would know the price only after assignment, but it is better than not knowing it. :smile:

[2017-03-17 23:54] trolster commented on #53
Added price in #47 .

[2017-03-18 13:08] trolster commented on #49
@gabraganca do you know how to fix this one? It looks like you were the one who implemented the change :smile:.

[2017-03-18 18:28] gabraganca commented on #49
@trolster I think so. I'll fix it.:+1:

[2017-03-18 21:58] gabraganca commented on #49
@trolster just for the records, the commit 8071eecc2c7c1c0672e85fee9d8424616a4ba4a9 was where this was changed.

[2017-03-19 03:29] #49 closed

[2017-03-19 14:37] trolster opened #55 "Document recent changes with screenshots"
There have been some serious changes to the prompt and how the prompt works, in the latest releases, and none of it has been documented. BAD.

I'll try to get the screenshots done in a hurry, but I keep forgetting to do it. SAD.

Any help is appreciated.

[2017-03-19 17:21] trolster commented on #55
Not documented:

- --silent option in assign
- "r" keyboard shortcut in assign
- Assigned reviews table in the assign prompt
- Screenshots of the new UI

Anything else?

[2017-03-19 23:40] gabraganca commented on #55
I think that's it.

[2017-03-19 23:46] gabraganca commented on #53
#47 was merged and this change was implemented.

[2017-03-19 23:46] #53 closed

[2017-03-20 02:13] gabraganca opened #56 "Refactor assign.js"
The `assign` command has increased in functionalities in the last versions. As discussed elsewhere, a refactor would be welcome and I thought that an issue could be used to help us discuss how we will be doing it.

[2017-03-20 12:08] trolster commented on #56
There is a point where a piece of software has taken on too much, and I think the assign and revenue commands have reached that point. The terminal is just not designed to do all these things!

I'm not arguing that we remove functionality, but I think any new functionality should be looked at with an extremely critical eye.

So a refactor should be to ensure that the code is efficient, lean and bu

[2017-03-20 12:46] gabraganca commented on #56
I agree with you.

Should we focus on `assign.js` and then move the discussion to `revenue.js` (on a different issue after this one is closed)?

[2017-03-20 12:48] gabraganca commented on #12
I am starting to think that the terminal could not be the best place for a heat map... Maybe we could implement this in another "ur-tool" in the future.

[2017-03-20 13:22] trolster commented on #55
I've taken some screenshots that are attached here. Let me know what you think is better.

1: One in queue and one review assigned:

<img width="800" alt="screen shot 2017-03-19 at 15 38 38" src="https://cloud.githubusercontent.com/assets/667513/24101347/40a05b50-0d78-11e7-98e1-62d4ebe0bbbd.png">

2: Two in queue with one assigned:

<img width="800" alt="screen shot 2017-03-19 at 17 55 33" src="ht

[2017-03-20 13:26] trolster commented on #12
Yeah, I think we have to consider that a terminal is really not a good medium for graphical UI elements. I'll close this and remove the milestone.

[2017-03-20 13:26] #12 closed

[2017-03-20 13:44] trolster opened #57 "Feature request: Toggle UI elements with keyboard shortcuts."
The UI has become cluttered and is in dire need of simplification.

Since we have keyboard shortcuts accessible, why not allow the user to toggle interface elements using shortcuts? We could use "u" for toggling "Uptime:" and "t" for toggling "Total Projects Assigned:". Perhaps "h" for helptext?

It should be easy to implement. When the key is pressed, simply set a flag, true or false, for the UI

[2017-03-20 13:46] trolster commented on #56
I think revenue.js is in a better place and does not urgently need a refactoring. So at least for now lets just consider how to make assign.js better :smile:.

[2017-03-20 19:13] gabraganca commented on #57
I was thinking something just like that. :smile:

The `h` key to show a help with all keys would be much required. Then, we can remove all these information fro the dashboard

[2017-03-20 19:15] gabraganca commented on #55
You were faster than me! :racing_car:

I vote for number 2! :1st_place_medal:

[2017-03-20 19:18] gabraganca commented on #56
Agreed. I'll start a project on this so we can take not of what need to be changed before diving in.

[2017-03-20 19:45] gabraganca commented on #49
@giladgressel do you use the link that is shown in the PushBullet notification for something?

[2017-03-20 20:07] giladgressel commented on #49
I think I used the link  sometimes.  but knowing what project was much more important to me.

[2017-03-20 20:24] giladgressel opened #59 "`esc` no longer does anything"
# Guidelines to submit an issue

**Please make sure that your have the latest version of Node.js installed before you report a bug.** The command is `node -v` and you need version 6 or higher.

---
If you are opening an issue because you would like to propose a new feature,
please write the title as "Feature Request:" followed by a short description of the feature.

Describe bugs using this templa

[2017-03-20 20:26] giladgressel commented on #55
I can try to work on this tomorrow.
Can you explain what the follow do?
[code]

is the 3rd one referring to the new "assigned review table" that appears in the information displayed when `assign` is being run?
Not sure what to call that -- it's not a GUI, but sorta like a gui.  is that the assign prompt?

[2017-03-20 20:32] trolster commented on #59
Can't reproduce on a Mac. The script has to make a call to the API before it can close on ESC. Perhaps you need to wait a bit if the network is slow or Udacity isn't responding fast?

[2017-03-20 20:35] giladgressel commented on #59
well the network issue is unlikely for the ubuntu machine, thats my aws server, it's got aws internet which is really fast.
How do I know when it's made a called to the API?  If it's displaying the table with my queue that means it's made a successful call?

[2017-03-20 20:38] trolster commented on #59
Udacity has network slowdowns sometimes. But I agree that if you let it sit for 10 seconds and nothing happened, then it's probably not a network issue.

You can tell that it's successfully refreshed the submission_request when it writes a success message to the prompt.

[2017-03-20 20:38] gabraganca commented on #59
You can also use [this](https://review.udacity.com/api-doc/index.html#!/submission_requests/get_me_submission_requests) to check if  there is an active request.

[2017-03-20 20:43] gabraganca commented on #55
@giladgressel I've started implementing the changes in #58. Your comments would be very welcome. :smile:

The assigned table is the table where the assigned projects are showed. It is the second table on the images above. Is this what you were referring to?

[2017-03-20 20:47] trolster commented on #59
Could not verify this one on Ubuntu 16.04 either. ESC works flawlessly for me on MacOS Sierra, Win10 and Ubuntu 16.04.

[2017-03-20 20:48] gabraganca commented on #59
@giladgressel could you record this into a video or a gif?

[2017-03-21 17:13] #55 closed

[2017-03-21 19:21] giladgressel commented on #59
Hi Guys
I don't know what to say. I mean, I can record a video of me pressing esc if you want, but... it just doesn't do anything.
I can hit esc until I'm blue in the face -- doesn't work.
I can still get projects and everything else is working, so not sure...
my esc key does work in other apps btw.

[2017-03-21 19:32] trolster commented on #59
Hi @giladgressel, you don't need to prove it, I believe you of course :smile:. And it's hard to do a recording of nothing happening. But I can't fix a bug that I can't reproduce. I've tested this on MacOS Sierra, Win10 and Ubuntu 16.04 (through ssh), and it works as expected in all cases.

The only thing I can come up with is to try to reinstall. Are you perhaps using some kind of key remapping so

[2017-03-21 22:35] galipremsagar opened #60 "urcli assign all failing"
Getting this error..

[code]

[2017-03-21 23:37] trolster commented on #60
Hi, I believe you ignored the template! Please tell us what version of node and urcli you are on. And also tell us which OS you are on.

[2017-03-22 01:06] trolster commented on #60
This might be an issue with Windows and the interface not being a TTY. Can you confirm that you are on Windows?

[2017-03-22 01:29] galipremsagar commented on #60
Not on windows, Its on ubuntu. With latest 2.5.0 version of tool

[2017-03-22 01:30] gabraganca commented on #60
@galipremsagar What is your version of node?

[2017-03-22 01:33] galipremsagar commented on #60
v7.7.3

[2017-03-22 01:34] trolster commented on #60
This is very likely to be an OS specific bug. What is the version number. 16.04?

[2017-03-22 01:34] galipremsagar commented on #60
Ubuntu 14.04.5 LTS (GNU/Linux 4.4.0-66-generic x86_64)

[2017-03-22 01:39] trolster commented on #60
Thank you @galipremsagar. Please provide all of this information up front if you ever decide to open another issue (use the template provided).

I'll look into it in the next couple of days. In the meantime you can downgrade to an earlier version: `npm install -g urcli@2.2.8`.

[2017-03-22 01:40] galipremsagar commented on #60
Sure, I've downgraded to 2.3.0

[2017-03-22 01:52] gabraganca commented on #60
@trolster could this be related to #59 since both occurs in the same function? Maybe these are different faces of the same bug... :bug:

[2017-03-22 02:12] trolster commented on #60
@galipremsagar could you try cloning branch `issue-60` and running the command? Hopefully the issue is simply that you are not running the script in a TTY context, which `issue-60` should fix.

[2017-03-22 02:17] trolster commented on #59
Hi @giladgressel, could you try cloning branch `issue-60` and running the command? Hopefully the issue is simply that you are not running the script in a TTY context, which `issue-60` should fix.

[2017-03-22 05:17] galipremsagar commented on #60
My Usage is wrong?
[code]

[2017-03-22 05:20] trolster commented on #60
Yeah, you have to run install to get going. Run the following commands from the root of the project, `/home/sagarprem/testing/urcli`:

1. `npm install`
2. `babel-node src assign all`

[2017-03-22 05:43] galipremsagar commented on #60
Works fine now 👍

[2017-03-22 05:44] trolster commented on #60
Great, I'll close this when I merge the fix. (If I could hit the right button...)

[2017-03-22 21:16] trolster opened #61 "Feature Request: Run script when opening a review through urcli"
Basically I'd like to be able to launch a script for a particular project type, when I open a review of that project type from urcli.

Why?

1. It would be nice to have the review downloaded and unzipped automatically.
1. I could open files/links in a clean browser, like Chrome Canary, without all of the login stuff loaded. Or I could open things in the browser as a different user.
1. I could do b

[2017-03-22 21:32] gabraganca commented on #61
That is a very cool feature and I think a lot of users would love it. :heart:

But how this would work? `urcli` would trigger a call to these scripts every time the user is assigned a review?

Also, will be implemented resources to users run his/her own scripts?

[2017-03-23 15:11] trolster commented on #52
This has been implemented in the v3 branch.

[2017-03-23 18:22] Izodine opened #62 "Bug: `undefined` is displayed for "Currently Assigned" counter, when API token has expired"
![undefined](https://cloud.githubusercontent.com/assets/7297141/24263607/040ba1be-0fd4-11e7-8381-0f2e6976af70.PNG)
#### Which version of Node.js are you running (`node -v`)?
v6.9.5
#### Which version of `urcli` are you running (`urcli -V`)?
1.5.1
#### What behavior were you expecting to see?
The "Currently Assigned" counter to display a number.
#### What was the actual behavior?
"Currently Assigne

[2017-03-23 18:36] gabraganca commented on #62
Hi @Izodine. Thanks for reporting. The latest version of `urcli` is 2.5.0. Could you update it and check if the error persist?

[2017-03-23 22:27] giladgressel commented on #59
ok, I tried the branch at 60.
let me make sure I did it right, because cloning is different from npm installing
I did
`
git clone -b issue-60 https://github.com/trolster/urcli.git
`

follow by ` cd urcli`
that put me in the root directory of the cloned branch
`git branch`
shows me on branch `issue-60`
then I ran
[code]
I got those lines from Mikkel [here](https://github.com/trolster/urcli/issues/6

[2017-03-23 23:31] gabraganca opened #63 "Beginning date for revenues can be wrong."
#### Which version of Node.js are you running (`node -v`)?
6.10.1
#### Which version of `urcli` are you running (`urcli -V`)?
2.5.0
#### What behavior were you expecting to see?
When using `revenue` to calculate the earnings for a specific month, I would expect to get:

[code]

#### What was the actual behavior?

[code]

The first day is not the first day of the month.

#### Describe the steps nee

[2017-03-24 00:00] giladgressel commented on #61
This could be awesome.
ideally you can associate a different shell script with each assignment that you get.  So based on the type of assignment different scripts get launched and run.
people would love this.

[2017-03-24 00:07] trolster commented on #61
I think it would work well with triggering a script when you use the keyboard shortcut for opening a review. Also, the scripts themselves would live in the `.urcli` directory, perhaps with a filename that corresponds to the project id.

[2017-03-24 02:12] gabraganca commented on #61
So one could have scripts for specific projects... Very interesting! This is big!

Maybe we could have a YAML or JSON file with the recipes:

[code]
Then, this file could be read by `urcli` and then activate the specific scripts when the user press a key or a project is assigned.

Since users are from different backgrounds, it would be great if the scripts could be from any language.

[2017-03-24 22:54] gabraganca commented on #63
Change made to address #52  fix this.

[2017-03-26 06:40] trolster commented on #62
Hi @Izodine, thanks for reporting this. Since this is a v1 issue, I'm going to close this, but please open a new issue if it persists in v2.

[2017-03-26 06:40] #62 closed

[2017-03-26 06:42] trolster commented on #63
Can we fix this in v2 easily?

[2017-03-26 06:44] trolster commented on #59
This issue may be fixed in v3. It might have to do with the switch statement doing strict comparisons. Otherwise I'm stumped. I'll let you know when it's ready for you to test.

[2017-03-26 06:50] trolster commented on #61
I think the roadmap would be to start small, with one script running on keypress. Say you have two projects assigned, keypress `1` or `2` will open the review in the browser and run the script concurrently.

Next step would be one script for individual project types.

If there is a need for more we can take it further from there.

[2017-03-26 06:59] #60 closed

[2017-03-26 12:31] sumitbinnani opened #66 "Feature Request: Logging Assigned Review / Retrieve completed reviews"
Hi,

I guess it might be useful to log or retrieve the already completed reviews. At times, I refer my old reviews to go through the common mistakes.

The same can be retrieved by GET API `/me/submissions/completed`.

Thanks,
Sumit

[2017-03-26 13:19] trolster commented on #66
Hi @sumitbinnani, thanks for submitting a feature request :-). do you mean a list of links to reviews? What kind of information are you looking for? When retrieving reviews using the `completed` API endpoint, the information returned isn't all that useful. For instance, the only part of the actual review that is contained in the data that is returned, is the reviews "General Comment".

[2017-03-26 20:47] gabraganca commented on #61
It is a good idea to start small.

What do you think of running it when the project was assigned instead on keypress? Then we would have full automation and would be sure that the script was run.

Also, should this be implemented in v3 or in future release?

[2017-03-26 21:16] gabraganca commented on #63
Well, I think we can go back to the previous version. Do you think is worth checking?

[2017-03-26 21:21] gabraganca commented on #63
Since a lot of users rely on `urcli` to check their earnings, I think it is worth checking.

[2017-03-26 21:53] trolster commented on #61
That is an interesting idea. It would not be useful to me personally, since I'd want a browser window to open and some file-checks to be made, but I guess you could have both:
1. A script that runs on any project that is assigned, as soon as it's assigned.
2. A script that runs when you open the review with a keypress.

As to when, I'm not sure, but definitely in v3. Whether it's v3.3 or v3.25 we'

[2017-03-26 21:55] #63 closed

[2017-03-26 22:14] giladgressel commented on #61
I'd like to propose you guys (realized I don't really help around here except with having you debugging my own mistakes) build the "download and extract review submission" script into `urcli` natively.  This is probably a function everyone will want, and since URCLI already knows the url, I hope it would be easy to implement.
It could be cool if it had some customization options for the user to de

[2017-03-26 22:30] trolster commented on #61
@giladgressel Thanks for your suggestion. Please keep contributing with suggestions and other issues, and don't feel that code is the best way to contribute. To me, as a maintainer, issues and feature requests and participating and giving feedback is just as important.

The reason I wouldn't do what you are asking is that it's very likely people want to do it in different ways, and it becomes anot

[2017-03-27 14:03] sumitbinnani commented on #66
Yes, I meant list of links to reviews with details like it failed or passed and project id.

[2017-03-27 21:07] trolster commented on #66
Since `urcli` exclusively runs in a terminal, it's not really meant for (or very good at) displaying a lot of information. Remember that even if it displayed a list of links, you wouldn't actually be able to click them.

Luckily there is an excellent tool for this: https://simplydallas.github.io/udacityreviewparser/. It does exactly what you want, and I think that if you try it out you will see wh

[2017-03-27 21:07] #66 closed

[2017-04-14 18:12] sahiljuneja opened #68 "Mistake in revenue dates for month of March"
Describe bugs using this template:

#### Which version of Node.js are you running (`node -v`)?
6.6.0

#### Which version of `urcli` are you running (`urcli -V`)?
2.2.7

#### What behavior were you expecting to see?
When I type command `urcli revenue 2017-03` I expected to get the revenue details for the entire month of March.

#### What was the actual behavior?
I instead get the revenue details fr

[2017-04-14 18:16] trolster commented on #68
Hi @sahiljuneja, try upgrading to the latest version and see if that doesn't fix the issue. All you should need to do is run `npm install -g urcli`. Latest version is 2.5.2.

[2017-04-14 18:17] sahiljuneja commented on #68
Will this remove me from all the project queues, if I try to update now?

[2017-04-14 18:25] trolster commented on #68
You can quit the script without removing yourself from any queues by pressing ESC. Then just restart the script once you update, like you normally would (`urcli assign someId`) and the script will pick up where it left off. You have one hour to restart your script once you quit, or the server will remove you from the queues. Take a look at the README for more.

[2017-04-14 18:30] sahiljuneja commented on #68
Updating fixed it. Will remember this next time before posting an issue. Thanks a lot! :) And really awesome that you added keyboard shortcuts! 👍

[2017-04-14 18:30] #68 closed

[2017-04-14 18:32] trolster commented on #68
Glad to hear it. Good luck reviewing :).

[2017-04-15 03:44] sudhirkhanger opened #69 "ENOENT: no such file or directory, open '/home/sudhir/Downloads/package.json'"
#### Which version of Node.js are you running (`node -v`)?

    v6.10.0

#### Which version of `urcli` are you running (`urcli -V`)?

    npm install urcli

#### What behavior were you expecting to see?
I am trying to do a local installation of urcli

#### What was the actual behavior?
[code]

Full error [gist](https://gist.github.com/sudhirkhanger/9c9803548152d4c5e2364ee456f9b1bd).

#### Describe

[2017-04-15 06:46] Sinapse87 opened #70 "Push notification are not working"
#### Which version of Node.js are you running (`node -v`)?

v7.8.0

#### Which version of `urcli` are you running (`urcli -V`)?

2.5.2

#### What behavior were you expecting to see?

When i run:

urcli assing all --push "o.sdql249LmfqrD......."

I cannot see the dashboard neither it seems I am making any request.
It seems stuck.

#### What was the actual behavior?

I should still see the dashboard

[2017-04-15 12:41] trolster commented on #69
Hi @sudhirkhanger, `urcli` needs to be installed globally for the command to work in the terminal. Use `npm install -g urcli`. It will not work if you don't install globally.

If you want to play around with the source code, take a look at `CONTRIBUTING.md`, which I believe has a guide on how to get started. Reach out to me any time if you need help getting set up.

[2017-04-15 12:42] trolster commented on #70
Hi @Sinapse87, please fill out the issue template so that we can help you.

[2017-04-16 03:48] sudhirkhanger commented on #69
Hi @trolster,

Thank you for your reply. I prefer not to modify the root partition by hand or via 3rd party package managers.

I found the following post which describes mimicking a root folder so that npm packages can be installed locally.

https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md

So far it works fine. When you have time please take a look. I am closing this

[2017-04-16 03:48] #69 closed

[2017-04-16 09:11] Sinapse87 commented on #70
Done!

[2017-04-16 12:12] trolster commented on #69
Hi @sudhirkhanger, I agree that this should be closed, since it's unrelated to how urcli works, but I'd be interested to know if you get it to work, and how.

[2017-04-16 12:14] trolster commented on #70
This looks like a different issue than the previous one. I'm a bit confused, but I'll try to help you with this one.

When you say it's stuck, does that mean that you are not getting any output at all?

[2017-04-16 12:54] Sinapse87 commented on #70
Yes, exactly, nothing!

[2017-04-16 12:56] sudhirkhanger commented on #69
Hi @trolster, it's already working. I have installed `urcli` locally using the post linked above. It working fine as far as I can tell.

[2017-04-16 13:13] trolster commented on #69
OK, cool. I misunderstood then. Glad to hear it's working.

[2017-04-16 13:26] trolster commented on #70
I'm running `urcli assign all --push "acccess-token"` and it's working for me. Can you try to get a new access token as well as a new token from Udacity? Otherwise you may want to check if you have pushbullet correctly installed on other devices.

[2017-04-16 13:29] Sinapse87 commented on #70
Urcli is correctly running when no --push option is being passed in so this has nothing to do with Udacity I guess. PushBullet is beautifully working to the point I do not even use my phone when I have my laptop. Urcli is the only thing that is not working unfortunately. Is there a debug option?

[2017-04-16 13:31] trolster commented on #70
And have you tried with a different access token? It could choke if the access token isn't valid for some reason.

[2017-04-16 13:32] Sinapse87 commented on #70
I removed all the access tokens from pushbullet and created a new one, and it is showing that dashboard now!?!?!? Let's see if I get the notification. As soon as I get it, I will close this issue.

[2017-04-18 00:17] jaycwb opened #71 "Revenue command not working"
# Guidelines to submit an issue

**Please make sure that your have the latest version of Node.js installed before you report a bug.** The command is `node -v` and you need version 6 or higher.

---
If you are opening an issue because you would like to propose a new feature,
please write the title as "Feature Request:" followed by a short description of the feature.

Describe bugs using this templa

[2017-04-18 00:24] trolster commented on #71
Hi @jaycwb, do you have to ctrl-c out, or does it just not give any output and return to the prompt? The command is generally very slow and can take more than a minute before it shows any output. Have you tried something like `urcli revenue today`, and if so, did it work?

[2017-04-23 23:42] Sinapse87 commented on #71
I have exactly the same problem unfortunately. Should I open another issue?

SBMELMAC-06715:~ pp.lucaal$ urcli assing all .... NOTHING HAPPENS....
SBMELMAC-06715:~ pp.lucaal$ node -v
v7.8.0
SBMELMAC-06715:~ pp.lucaal$ npm -v
4.5.0
SBMELMAC-06715:~ pp.lucaal$
SBMELMAC-06715:~ pp.lucaal$ urcli -V
2.5.2

[2017-04-24 00:44] trolster commented on #71
Hi @Sinapse87, it doesn't look like the same problem, since it's a different command. So you should open a new issue.

@jaycwb, did you resolve this issue somehow?

[2017-04-24 00:52] Sinapse87 opened #72 "Urcli shows nothing when running urcli assing all"
# Guidelines to submit an issue

**Please make sure that your have the latest version of Node.js installed before you report a bug.** The command is `node -v` and you need version 6 or higher.

---
If you are opening an issue because you would like to propose a new feature,
please write the title as "Feature Request:" followed by a short description of the feature.

Describe bugs using this templa

[2017-04-24 00:55] Sinapse87 commented on #72
Could I be having a problem with my certified language?

[2017-04-24 01:02] trolster commented on #72
Hi @Sinapse87, is this not the same issue that you reported in #70? I thought you had that fixed?

The reason "Certified Language >" is showing up is probably because you recently used the setup command, and that was the last prompt. So when the script hangs and you press a key, you get that previous prompt. I don't think it has anything to do with this issue.

[2017-04-24 01:05] Sinapse87 commented on #72
Right. No definitely not the same issue because now I am not even passing that toke anymore.
Do you have any way to debug this issue?

[2017-04-24 01:15] trolster commented on #72
Again, I'd suggest that you try it out with a different access token before anything else. Make sure it's correct. I believe you reset your access tokens on you pushbullet page the last time. Maybe you can try that again?

[2017-04-24 01:19] Sinapse87 commented on #72
Nope, same issue just running urcli assign all. So we can exclude pushBullet...

[2017-04-24 01:36] trolster commented on #72
Can you confirm that you are running the command `urcli assign all`? In your issue description you have misspelt assign, as "assing".

[2017-04-24 03:15] Sinapse87 commented on #72
I was running the right command, however  switching from my corporate network to my 4g fixed the issue. There must be some sort of firewall rule. We can close this one, sorry

[2017-04-24 03:18] trolster commented on #72
No worries. I'm glad you got it fixed.

[2017-04-24 03:18] #72 closed

[2017-04-24 16:31] jpbarddal commented on #71
Hi @trolster , I have not!

[2017-04-24 16:51] trolster commented on #71
@jaycwb I previously asked you some questions that you didn't answer. Since there isn't any movement on this for a week I'm going to close it. If you still want to try to track down the problem, please respond to requests for more info and I'll reopen the issue.

[2017-04-24 16:51] #71 closed

[2017-04-24 16:54] trolster commented on #59
Since there hasn't been any movement on this for over a month, I'm assuming it's not important enough to try to track down the cause, so I'll close this now. If any new information comes along I'll reopen.

[2017-04-24 16:54] #59 closed

[2017-05-02 22:15] gabraganca opened #73 "Improve error message when user have an outdated token"
This is a bug report + feature request.

`urcli` crashes without a good error message if the token is outdated.

#### Which version of Node.js are you running (`node -v`)?

v6.10.2

#### Which version of `urcli` are you running (`urcli -V`)?

2.5.2

#### What behavior were you expecting to see?

My revenue summary.

#### What was the actual behavior?

The following error message:

[code]

#### Des

[2017-05-03 11:43] trolster opened #74 "Add --verbose flag to `assign` with debugging info"
Things that could be useful to display:

1. Network errors
1. Request ID
1. Full response body from the server

Not sure exactly how to make the output reasonable.

[2017-05-03 14:55] gabraganca opened #75 "Decrease request update time"
The server maintains the request alive for 60 minutes. To keep it alive, `urcli` updates it at every 55 minutes. So, there is a 5-minute window that the request can be lost for some unknown reason (e.g., network failure).

To solve this, `urcli` can update the request at every 5 minutes on the server which leaves a 55 minutes interval.

[2017-05-03 15:54] pandyanandan commented on #74
1. Network errors are alredy shown if there is something wrong at top in red.
2. I hink Request ID for current request and the Previous Request(after one project is assigned)
can help identify if we are getting droped in queue or not.
3. Full body would be kinda too much to display.

To me best place to show request id would be below uptime.

[2017-05-04 13:44] trolster commented on #73
Fixing this in v3.

[2017-05-04 14:36] trolster commented on #73
Fixed for the revenue command in the 63fa42c626dc3af9a94fdf276690090960d9b927 commit of the https://github.com/trolster/urcli/commits/next branch.

[2017-05-07 00:23] trolster commented on #74
I think we'll start with a list of requestIds, as well as the current request object, as it is returned by the server. You will be able to compare the number of requestIds to the total number of reviews that have been assigned, and the number of requestIds should only be one higher. So zero reviews assigned should be equal to one requestId, and two assigned should be three requestIds.

We can add

[2017-05-07 00:28] trolster commented on #41
This is now discussed in #75.

[2017-05-07 00:28] #41 closed

[2017-05-08 23:03] trolster commented on #61
I'm going to implement this as a feature _after_ v3. Maybe 3.1 :-).

[2017-05-29 23:39] popnfresh234 opened #77 "Bug Report: Invalid Date for Average Turnaround Time"
#### Which version of Node.js are you running (`node -v`)?
7.8.0

#### Which version of `urcli` are you running (`urcli -V`)?
2.5.2

#### What behavior were you expecting to see?
Total revenue and daily average calculated and displayed

#### What was the actual behavior?
"Earned" field is still calculated for each project except the one with the invalid date, "Total Earned" and "Daily Average" are

[2017-05-30 10:34] trolster commented on #77
Hi @popnfresh234, I'm updating urcli to v4 today, so can you update as well and see if it resolves the issue? The easiest way is to just reinstall: `npm install -g urcli`. Make sure you have v4 installed: `urcli -V`.

[2017-05-30 17:40] gabraganca commented on #77
Hi @popnfresh234 . You mentioned that you have a project with an invalid date. How come? Could you provide more information on this?

[2017-05-30 17:53] ajhollid commented on #77
Hi @gabraganca ,

I don't know why I have a project with an invalid date for turnaround time, I just noticed it the other day when I tried to run the `revenue` command

@trolster I've updated to v4 and the issue still persists.  Running `revenue` also generates an empty report if you don't include --from now as well

[2017-05-30 18:13] gabraganca commented on #77
OK. Let's trace this bug.

If you try using `revenue` for other months or other periods of time, do you still get the invalid turnaround time?

Also, could you update your token to see if it solves it?

Which date did you use after the `--flag` to get it working?

[2017-05-30 18:25] trolster commented on #77
@popnfresh234, also, can you paste in the output? I'd like to see what you mean by an empty report.

[2017-05-30 19:52] #52 closed

[2017-05-30 19:52] #56 closed

[2017-05-30 19:52] #57 closed

[2017-05-30 19:52] #73 closed

[2017-05-30 19:52] #74 closed

[2017-05-30 19:52] #75 closed

[2017-05-30 19:58] gabraganca opened #78 "Assign dahsboard does not open if config was run first"
#### What's going wrong?

The `assign` dashboard does not open if `assign config` is run first.

#### How can the `urcli` team reproduce the problem?

1. Remove `~/.urcli/`
2. Run `urcli setup` and configure everything normally.
3. Run `urcli assign config`
4. Run`urcli assign number-of-a-project`
   It get stuck in
[code]

### supporting information:

 - `node -v` prints: v6.10.3
 - `urcli -V` pr

[2017-05-30 20:09] trolster commented on #61
Implemented in v4.

[2017-05-30 20:09] #61 closed

[2017-05-30 20:11] trolster commented on #78
I wasn't able to reproduce this. Are you having network errors?

[2017-05-30 20:58] giladgressel opened #79 "crtl-c to cancel request fails to exit"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - [ ] urcli is crashing.
  - [x] I think I've found a bug.
  - [ ] urcli is doing something I don't understand.
  - [ ] Other (_see below for feature requests_):

#### What's going wrong?

When I hit ctrl-c I get an error instead of closing the request.
#### How can the `urcli` team reproduce the problem?
Use crtl-c ?
Here is

[2017-05-30 21:22] ajhollid commented on #77
@trolster  @gabraganca

I've updated my token when I updated urcli, seems to be the same results.

Here is the report if I just run `urcli revenue` right now.

Earnings Report for undefined to 2017-05-30:
=============================================
Total Projects Assigned: 0

Total Earned: $0.00
=============================================

The `revenue` command still works for any period of ti

[2017-05-30 21:26] gabraganca commented on #78
I don't think so. I tested it on my local Linux and a server.

[2017-05-30 21:32] gabraganca commented on #77
Thanks for providing the `revenue` output.

Do you know the Review ID that has the invalid date? If not, could you find it using [this tool](https://simplydallas.github.io/udacityreviewparser/)?  I want to find what is wrong with this review.

[2017-05-30 21:37] ajhollid commented on #77
@gabraganca  The id of the problematic review is 518032.  This review was manually assigned, so it looks like it has some invalid data:

Review ID: 518032
Project Title: Quiz App (ID: 158)
Project Status: completed (Earned: $0)
Grader: Alex (ID: 5939)
User: Amanda (ID: 112512)
Created: Fri, May 26, 2017 7:31 AM
Assigned: Invalid date
Completed: Fri, May 26, 2017 8:14 AM
Updated: Fri, May 26, 2017

[2017-05-30 21:46] trolster commented on #79
I was able to replicate this and will investigate asap.

[2017-05-30 21:47] trolster commented on #78
Are you able to replicate it every time?

[2017-05-30 21:47] gabraganca commented on #77
By "manually assigned" do you mean that you assign it to yourself using Udacity's Reviewer Dashboard? If yes, that would not be a problem.

The issue seems to be in other entries: `Earned`, `Assigned` and `Time to Finish`. It seems that there were some issues on the server side.

@trolster what do you think?

[2017-05-30 21:51] trolster commented on #77
Yeah, this is definitely an invalid review object. It doesn't conform to the API spec. Blame Amanda!! 👍 :smile:. @popnfresh234, it looks like it might mess up future commands also, so you may want to ask Amanda to remove it, or give it a valid date.

[2017-05-30 21:54] gabraganca commented on #78
Yes. I will record a video/gif and upload it here.

This is not a high priority since I can get the dashboard working. I only have to run `assign` before `assign config` after setting it up.

[2017-05-30 22:40] trolster commented on #79
I can't explain this one, except to say I feel sure someone changed the details of what is returned from the API when you delete your request. 9046be3a3163594cf9c7c9335f99f5eb6f71bf7c should fix this. Update to v4.0.1 and see if it works.

[2017-05-30 23:47] ajhollid commented on #77
@gabraganca  the Android service lead added the project to my queue manually from his end, so no, not from the dashboard on my end.

Thank you and @trolster  for taking the time to look into this, I will ask Amanda to look into it :+1:

[2017-05-30 23:53] trolster commented on #77
If it was Android I think it might be John Shea you need to talk to. And no worries, thanks for taking the time to report it. I'll let the good people at Udacity know that they can cause issues if they create new reviews without adhering to the spec.

[2017-05-31 10:29] trolster commented on #79
I did a sanity check and asked the API developers if they had changed anything, and they said they haven't changed anything for the past 15 days. So I don't know how this becomes a problem all of a sudden. But it seems to be fixed now in 4.0.1. @giladgressel let me know if it works for you.

[2017-05-31 20:29] trolster commented on #77
As it turns out, the API calls the date in `assigned_at` "optional" (thanks John for letting me know), which is not very helpful at all. But it means that it's urcli that's not conforming to the spec. So I'll have to revisit this. I'll reopen but keep discussion on slack with the Udacity folks.

[2017-06-01 14:00] trolster commented on #77
After discussions with Udacity staff, I've concluded that this is a one-off event, and that Udacity does not have procedures in place which would afford this error ever coming up again. So they will ignore it on the API side, and we'll ignore it on the CLI side :-).

[2017-06-01 14:00] #77 closed

[2017-06-01 14:01] trolster commented on #79
@giladgressel could you let me know if this works for you after the update?

[2017-06-01 14:02] trolster commented on #78
@gabraganca could you confirm that this is still happening for you after the update?

[2017-06-01 16:27] giladgressel commented on #79
Hi sorry for the delay.  Yes 4.0.1 fixes this for me.

[2017-06-01 16:31] #79 closed

[2017-06-01 18:07] gabraganca commented on #78
@trolster I'll check it later today.

[2017-06-01 18:57] trolster opened #80 "Feature Request: Use chrono module for natural language date periods in revenue command"
#### I'm opening this issue because:

  - [ ] urcli is crashing.
  - [ ] I think I've found a bug.
  - [ ] urcli is doing something I don't understand.
  - [x] Other (_see below for feature requests_):

#### What's the feature?

Using chrono, https://github.com/wanasit/chrono, could allow the user to use the revenue command in a really intuitive way. For instance, `urcli revenue last friday` would

[2017-06-01 22:10] gabraganca commented on #80
Very interesting! +1 for that!

[2017-06-03 20:45] optimistanoop commented on #78
+1

[2017-06-03 23:24] trolster commented on #78
I wasn't able to reproduce this, but I think I've fixed it in v4.0.3. Try updating and let me know if it works or not.

[2017-06-05 22:06] gabraganca commented on #78
That fixed. Thanks. :+1:

[2017-06-05 22:06] #78 closed

[2017-06-06 03:33] trolster opened #81 "Daily average included when running "urcli revenue yesterday"."
# Guidelines to submit an issue

#### I'm opening this issue because:

  - [ ] urcli is crashing.
  - [x] I think I've found a bug.
  - [ ] urcli is doing something I don't understand.
  - [ ] Other (_see below for feature requests_):

#### What's going wrong?

#### How can the `urcli` team reproduce the problem?

Running `urcli revenue yesterday` includes information on a daily average. It should

[2017-06-06 16:38] BoPengGit opened #82 "Problems with assign"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - [x ] urcli is crashing.
  - [ ] I think I've found a bug.
  - [ ] urcli is doing something I don't understand.
  - [ ] Other (_see below for feature requests_):

#### What's going wrong?
Hi Mike,

I'm trying to assign projects but am receiving an error. Any suggestions or help?

Creating or updating submission request..Type

[2017-06-06 16:43] trolster commented on #82
Hi Bo, did you run `urcli setup` first? You shouldn't need to run `urcli token` until you token is about to expire. Here is the order for the setup:

1. Run `npm install -g urcli`.
1. Run `urcli setup`.
1. Run `urcli assign`.

[2017-06-06 16:59] BoPengGit commented on #82
Hi Mike,

Thanks for your reply. Appreciate the help. The urcli package was working
before, but the newer version I'm having trouble. When I enter, urcli
setup, it tells me to "Input your token:", but when I input something, it
returns, [object Object] and goes back to the "Input your token:" line.

I'm not sure if that tells anything. It could be something with my computer
as well. When I hit urc

[2017-06-06 17:06] trolster commented on #82
You can go back to a previous version by asking npm to install that specific version. In your case I suspect you were on 2.5.2, so the command is `npm install -g urcli@2.5.2`. That should get you back up and running on the old version.

As to what is going wrong you will need to fill out the rest of the issue template with the node version and your OS.

[2017-06-06 17:26] BoPengGit commented on #82
Hi Mike,

Yes the previous version is working for me. So thank you for pointing that
out. The new version was not working for me. I am on a windows computer.

Thanks and good job!

On Tue, Jun 6, 2017 at 12:06 PM, Mikkel Trolle Larsen <
notifications@github.com> wrote:

[2017-06-06 17:28] trolster commented on #82
Hi Bo, what is the version of Node.js that you are on?

[2017-06-07 00:28] BoPengGit commented on #82
Hi Mike,

The version I was using that caused the error was version 4.0.3. It was on
a windows computer. Now, after going back to version 2.5.2 as suggested, it
works great. Thanks for the help and great job in creating the tool.

Thanks and good job!

On Tue, Jun 6, 2017 at 12:28 PM, Mikkel Trolle Larsen <
notifications@github.com> wrote:

[2017-06-07 16:08] optimistanoop opened #83 "Feature Request: add service request id, status and updated_at fields in UI."
#### I'm opening this issue because:

  - [ ] urcli is crashing.
  - [ ] I think I've found a bug.
  - [ ] urcli is doing something I don't understand.
  - [x] Other (_see below for feature requests_):

#### What's going wrong?
`urcli assign 301` created a new service request instead refreshing available SR.

#### How can the `urcli` team reproduce the problem?
This issue could be a special case,

[2017-06-07 17:11] trolster commented on #82
Hi Bo, we're glad you like it. And of course, we'd like to figure out what caused the error. Could you try running the command, `node -v` in your terminal, and let us know what it prints out?

[2017-06-07 17:29] trolster commented on #83
Hi Anoop, thanks for opening an issue on this. It does sound like a bit of a special issue, and I agree that without the info you are requesting it's really hard (if not impossible) to debug.

The scenarios you describe don't make much sense to me, in terms of what could have happened. `urcli` can't just delete you sr without you hitting the CTRL-C keys :-). And a closed sr is not kept around on t

[2017-06-07 20:54] optimistanoop commented on #83
Hi @trolster ,

Thanks for the reply. 👍

This issue feels interesting to me too, this is a great tool and hoping we can solve this mystery. 😄

I have some queries -
1- Does `urcli` checks for the status of SR every time before or after refreshing it?
For example- In my case when `assign` is running fine and meanwhile, (correct me if I am wrong)
   * At Time 0- the Internet got down
   * At Time 1-

[2017-06-07 21:40] trolster commented on #83
I understand you concern. But to avoid exactly that scenario, `urcli` doesn't use the id of the SR to check it's status. It simply gets the active SR using the `me/submission_requests` endpoint. The description of that endpoint is, "get the active submission request for the currently authenticated reviewer." In other words, there is no chance that `urcli` is looking at a fulfilled request and tryi

[2017-06-07 21:58] gabraganca commented on #83
Maybe something else happened here besides having the request deleted, and a new one created. A lot of reviewers are complaining that they are being pushed back to the end of the queue without being assigned a review. Maybe this is what happened to OP. This issue is a probably a bug on the server side since it has happened with different scripts.

[2017-06-07 23:53] BoPengGit commented on #82
Hi MIke,

Thanks so much for your reply and wanting to make a great tool. When I ran
`node -v`, it returned, v6.10.3. Appreciate all your work!

Thanks and good job!

On Wed, Jun 7, 2017 at 12:11 PM, Mikkel Trolle Larsen <
notifications@github.com> wrote:

[2017-06-08 00:07] trolster commented on #82
OK, I think now that I have all the info, my guess is that there was a network error when you set up the script (`urcli setup`). You may just want to try it again and make sure you're online. If that doesn't do it, I'll try updating the setup command to give some better error messages :-).

[2017-06-08 03:38] optimistanoop commented on #83
@trolster @gabraganca

Thanks for clarifying my doubts. You guys are awesome. Thanks for building this great tool.

[2017-06-08 18:34] BoPengGit commented on #82
Hi Mike,

I reinstalled the latest version, 4.0.3, and it works great now, the `urcli setup` command. Not sure what happened, but thanks for your help! That was exceptional work.

Thanks and good job!

[2017-06-08 18:36] #82 closed

[2017-06-09 07:25] trolster commented on #83
Current version has the `--verbose` flag!! I can't believe that I forgot about that, but now I've documented it also. Simply run `urcli assign <id> --verbose`. You can also press the key `o` (for options) and select the "Show debugging information". You get an output that looks something like this:

<img width="630" alt="screen shot 2017-06-09 at 09 21 16" src="https://user-images.githubuserconten

[2017-06-10 13:04] optimistanoop opened #84 "urcli assign <id> runs in verbose mode after running urcli assign <id> --verbose"
- [ ] urcli is crashing.
  - [x] I think I've found a bug.
  - [ ] urcli is doing something I don't understand.
  - [ ] Other (_see below for feature requests_):

#### What's going wrong?

1- `urcli assign <id>` runs in `verbose` mode after running `urcli assign <id> --verbose`.
2-  UI keeps on adding
#### How can the `urcli` team reproduce the problem?

1- run `urcli assign <id> --verbose`
2- hit

[2017-06-10 13:05] optimistanoop commented on #83
Wow !! This is really helpful. Thanks.

[2017-06-10 13:07] trolster commented on #84
Was able to replicate this. Will fix asap!

[2017-06-10 13:10] trolster commented on #83
Since logging is beyond the scope of this issue, and the `--verbose` flag actually outputs the desired information, I'm closing this.

[2017-06-10 13:10] #83 closed

[2017-06-10 13:14] optimistanoop commented on #84
Also, on every status update, it keeps on adding the new status object on UI. Hence we need to scroll on the terminal to see the current status.

For ref:-

![screen shot 2017-06-10 at 3 01 45 pm](https://user-images.githubusercontent.com/13583789/27003011-8a4434dc-4e0c-11e7-8950-5087c2062b68.png)
![screen shot 2017-06-10 at 2 58 29 pm](https://user-images.githubusercontent.com/13583789/27003012-8

[2017-06-10 13:15] optimistanoop commented on #83
Thanks for your support. 👍

[2017-06-10 15:38] #84 closed

[2017-06-12 14:52] optimistanoop commented on #83
@trolster  Verbose mode helped this time.

The same issue occurred once again, but this time I have some clear data, thanks for `verbose mode`.

1- In the verbose mode - `urcli` was showing last updated time of 3hr back, status was `available`.
2- checked on swagger -  status was closed and SR was last updated at the same time it was showing in step 1.

A new SR was supposed to be created once las

[2017-06-12 15:02] trolster commented on #83
Hi @optimistanoop, this is good information. Do you have a screenshot?

It would be helpful if you opened a new issue as a bug report.

Thanks again.

[2017-06-12 20:31] optimistanoop commented on #83
@trolster sorry, I don't have the screenshot.

I will try to add screenshot once this happens again, meanwhile, I will create a new issue.

Thanks for your quick reply. 😄

[2017-06-13 17:39] optimistanoop opened #85 "due to poor internet connection urcli got stuck"
#### I'm opening this issue because:

  - I think I've found a bug.

#### What's going wrong?

1- In the verbose mode - `urcli` was showing last updated time of 3hr back, status was available.
2- checked on swagger - status was closed and SR was last updated at the same time it was showing in step 1.

A new SR was supposed to be created once last SR was closed due any internet issue (thinking to g

[2017-06-13 17:48] optimistanoop opened #86 "urcli is throwing error on running urcli assign <project_id>."
#### I'm opening this issue because:

  - urcli is crashing.

#### What's going wrong?
`urcli` is throwing error on running `urcli assign <project_id>`.

#### How can the `urcli` team reproduce the problem?

run `urcli assign <project_id>` and wait for the error to come on UI.

### supporting information:

 - [x] `node -v` prints: v7.8.0
 - [x] `urcli -V` prints: 4.0.4
 - [ ] Windows, OS X/macOS,

[2017-06-13 17:58] trolster commented on #86
Hi @optimistanoop, this is not really a bug so much as it's less than ideal error messages. The API is having issues right now, and urcli is not throwing the best errors. But it's still running, so it's not something I'll fix at this point.

[2017-06-13 17:58] #86 closed

[2017-06-13 18:01] trolster commented on #85
This is good information, but not something I can test at this point. I'll leave it up in case someone has the same issue and have something to add.

[2017-06-13 20:59] adbelis opened #87 "Urcli assigns project that is not being pulled!"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - urcli is doing something I don't understand.

#### What's going wrong?

I am certified for two projects A & B, but choose to pull request for Project A only. However, when I run the command `urcli assign <Project_id>` for A,  I am getting notification for Project B.

### supporting information:

 - [x] `node -v` prints: v7.

[2017-06-13 22:59] gabraganca commented on #87
Hi @adbelis . Could you update `urcli` to the latest version and see if this still happens?

[code]

[2017-06-14 04:29] Sinapse87 opened #88 "Urcli is crashing"
- urcli is crashing.

#### What's going wrong?

Since yesterday I haven't been able to get any review (I usually get about 8 a day) because URCLI is crashing with the following:

You are queued up for:

┌─────┬───────┬────────────────────────────────────────┬───────┐
│ pos │  id   │ project name                           │ lang  │
├─────┼───────┼────────────────────────────────────────┼───────┤
│

[2017-06-14 04:45] trolster commented on #88
Hi @Sinapse87, first of all, make sure to update to the latest version. We'd rather not have to support multiple versions.

Secondly, the API has had a lot of issues in the past days, and the error you are seeing is really an API error. "forEach is not a function" happens because the API is returning bad data. So lets wait a couple of days to see if the API doesn't get fixed before we dive into th

[2017-06-14 04:46] trolster commented on #87
Also, try running `urcli certs` and check if the certification information that is returned from the server corresponds to what you think it is.

[2017-06-14 05:36] Sinapse87 commented on #88
Thanks
How do I update to the latest?

[2017-06-14 05:37] trolster commented on #88
`npm install -g urcli`

[2017-06-14 05:39] Sinapse87 commented on #88
What version is the current?

[2017-06-14 05:39] Sinapse87 commented on #88
I just updated and it broke :(

⠋ Checking command parameters..unhandled rejection: TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at ids.filter.id (/usr/local/lib/node_modules/urcli/lib/commands/assign/assign.js:93:46)
    at Array.filter (native)
    at validateIds (/usr/local/lib/node_modules/urcli/lib/commands/assign/assign.js:93:25)
    at /usr/lo

[2017-06-14 05:45] trolster commented on #88
Hi Luca, please keep the comments here related to the original issue as much as possible. If you are having trouble updating to the latest version, you can always ask questions on Slack. But I'd prefer you just went through the Quickstart guide to make it work.

[2017-06-14 05:47] Sinapse87 commented on #88
I just updated as you said and now I cannot run the command anymore. How can I go back to the previous version? This is much worse than it was...

[2017-06-14 05:50] Sinapse87 opened #89 "Urcli unhandled rejection"
When I run urcli I get the following:

⠋ Checking command parameters..unhandled rejection: TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at ids.filter.id (/usr/local/lib/node_modules/urcli/lib/commands/assign/assign.js:93:46)
    at Array.filter (native)
    at validateIds (/usr/local/lib/node_modules/urcli/lib/commands/assign/assign.js:93:25)
    at

[2017-06-14 05:51] trolster commented on #89
Did you complete the steps in the Quickstart guide?

[2017-06-14 05:52] trolster commented on #80
I've put this on hold for now. Closing.

[2017-06-14 05:52] #80 closed

[2017-06-14 05:53] trolster commented on #88
Since I'm only going to support the latest version, I'll close this.

[2017-06-14 05:53] #88 closed

[2017-06-14 05:54] trolster commented on #87
Since we'll only be supporting the latest version I'm closing this.

[2017-06-14 05:54] #87 closed

[2017-06-14 06:49] Sinapse87 commented on #89
Which are the ones on github?
Yes I have done that. I have been using urcli for long time..

[2017-06-14 07:02] Sinapse87 commented on #89
I managed to fix it. You can close this one. thanks!

[2017-06-14 07:57] adbelis opened #90 "Urcli assigns project that is not being pulled!"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - urcli is doing something I don't understand.

#### What's going wrong?

I am certified for two projects A & B, but choose to pull request for Project A only. However, when I run the command urcli assign <Project_id> for A, I am getting notification for Project B.

- I have updated my urcli to the latest, going through all t

[2017-06-14 09:23] #89 closed

[2017-06-14 12:26] trolster commented on #90
Hi @adbelis, I think I mistakenly closed the other issue before you had a chance to report on any changes. Sorry about that!

So let me get this straight: You are request project A, but only getting project Bs assigned?

[2017-06-14 12:48] adbelis commented on #90
Thanks for your kind response @trolster .

However, that's not exactly the case.

- From what I understand, if a request is made to a single project, it is assumed that other projects that is not being pulled, should not be assigned. right?

- Now If I am pulling both projects, and I am getting more of one over the other, that's not a problem. But when I am pulling `only one - Project A`, and I am

[2017-06-14 12:52] trolster commented on #90
What kind of notification are we talking about? Can you get more specific? Like, let me know what project IDs and names you are requesting and take me through exactly what is happening. If you have screenshots or you can paste in the text from the UI, that is super helpful too.

[2017-06-14 12:53] adbelis commented on #90
Thanks again. By Notification, I mean project assigned.

[2017-06-14 12:54] trolster commented on #90
Also, try pressing the `o` key ("o" as in options), and select the debugging information. Paste it in. I will need you to be a lot more specific if I'm to help you :-).

[2017-06-14 12:55] trolster commented on #90
Are the notifications correct? Do you actually get the reviews assigned that the notifications say you do?

[2017-06-14 13:00] adbelis commented on #90
The Debugger shows that I am actually pulling request for just one project. Which is the right thing. And that is what worries me. If it is clear that I am pulling just one, then why is the other one still coming in?

Ok Let me elaborate.

- I am certified for the `Movie Trailer Website` with `Project_ID -2` and `Item Catalog` with `Project_ID - 5`

- In the terminal, I type in `urcli assign 5`, p

[2017-06-14 13:03] adbelis commented on #90
Here is the `debug info`

[code]

- As you can see, It's the right thing -  `Project_id: 5` which is the Item Catalog Project.

- However, I am still assigned projects from `Project_id: 2`; Movie Trailer Website Project, even when I am not making any request for that.

[2017-06-14 13:06] trolster commented on #90
That is clear, and it's a total mystery why that would happen. As you can see, the submission_request object that is returned from the servers, clearly show that you are only queued up for project_id 5. Remember that if you manually assign a project, using the dashboard, urcli will still notify you about it.

[2017-06-14 13:10] adbelis commented on #90
I understand very well what you're saying @trolster . And I am very thankful to you for your indulgence.

Am as equally mystified by this too. I rarely manually assign a project from my dashboard. I Usually wait for the Notification from urcli. And when I see in the notification that I am assigned a project that I am not pulling, am stunned.

[2017-06-14 13:12] trolster commented on #90
And just to be clear, the actual project, when you go to the dashboard to look, is it actually a Movie Trailer Website project?

[2017-06-14 13:13] adbelis commented on #90
Yes. And I am not making any request for that. The Project just comes in on its own, and I am not sure where its coming from because I am not making any request for it.

[2017-06-14 13:19] trolster commented on #90
No, I can see that you are requesting project_id 5, not 2..

Well, I think I can safely say that this isn't a urcli issue. It simply has to be an API issue, since urcli doesn't change the SR (submission_request object) and cannot control what is being assigned. When the SR only contains project_id 5, then that is what the API itself is using. So urcli is creating the correct SR, and the API is ass

[2017-06-14 13:24] adbelis commented on #90
You are right that I am requesting Project 5, not 2, but project 2 keeps coming in.

Fair enough, I have written to review yesterday about this. Still waiting for a response. I will let you know if anything comes up.

[2017-06-14 13:26] trolster commented on #90
Closing this as it's not a urcli issue, but I'd still like to hear what Udacity's response is, so let me know somehow when they get back to you.

[2017-06-14 13:26] #90 closed

[2017-06-14 13:26] adbelis commented on #90
I think we can close this, if the problem is not urcli.

Thanks @trolster you have been of great help.

[2017-06-14 14:34] gabraganca commented on #80
Should we leave this open? Maybe someone that wants to collaborate can use this issue as a starting point.

[2017-06-14 14:38] trolster commented on #80
I want to put any features on hold for now. I'm not really interested in people collaborating on features unless they really want to. I'd rather someone helped make error handling better and a ton of other things that are more important. So if someone is all about the chrono module and really really want to implement it, no problem. Otherwise I think it's a distraction atm.

[2017-06-14 17:44] adbelis commented on #90
Hey @trolster, the Udacity team just got back to me. They are already aware of the problem, and the engineers are working on the Review API.

Thanks once again for your patience.

[2017-06-14 17:45] trolster commented on #90
OK, thanks for getting back to me! Good luck with the reviewing.

[2017-06-17 08:57] optimistanoop commented on #85
@trolster This issue replicated one more time.

Following are the screenshots:

1- Here `urcli` got stuck for 3-4 hrs in the same position.

![stuck](https://user-images.githubusercontent.com/13583789/27251597-1478b474-5368-11e7-9105-c8b6d1b541d7.png)

2- Checked in swagger - SR was closed.

![screen shot 2017-06-17 at 2 24 52 pm](https://user-images.githubusercontent.com/13583789/27251649-de44d80

[2017-06-17 10:42] trolster commented on #85
First of all, thank you so much for taking the time to report this Anoop! By reporting these issues so well, you are making urcli better :-). I'm referring Tim Vergenz, the lead developer on reviews at Udacity, to this issue, since I know he is working on it and it seems very relevant. I'm also going to ping Anthony Santiago who seems to have found evidence of the same issue. Hopefully more can ha

[2017-06-17 16:56] Izodine commented on #85
I believe there are two distinct problems here. I've run a couple tests; here are my testing specifications.

**Windows 10, 64 **bit****
**Command Prompt**
**node 6.9.5**
**Git Bash with GNU bash, version 4.3.46(2)-release (x86_64-pc-msys)**

1. UI Updating
2. Freezing

--

1. UI updating
Since I started using `urcli` I've been running it straight from Command Prompt. However, what I noticed is th

[2017-06-20 18:40] avastamin opened #91 "Getting startDate...unhandled rejection"
` Getting startDate...unhandled rejection: TypeError: Reduce of empty array with no initial value
    at Array.reduce (native)
    at /usr/local/lib/node_modules/urcli/lib/commands/setup.js:24:6
    at next (native)
    at step (/usr/local/lib/node_modules/urcli/lib/commands/setup.js:102:191)
    at /usr/local/lib/node_modules/urcli/lib/commands/setup.js:102:361
    at process._tickCallback (inter

[2017-06-20 18:56] trolster commented on #91
Hi @avastamin, please make sure you read through, and fill out, the issue template. The error message alone is not useful.

[2017-06-20 18:56] #91 closed

[2017-06-24 08:56] RowlandOti commented on #82
This issue may already have been solved, but just to reinforce what has been said (Since I faced it too). The error mention herein occurs when the `urcli setup` command is used without an internet connection, or connection could not be made. If you face this error, you should try again and ensure that the connection is made.

[2017-06-24 18:03] trolster commented on #82
Hi @RowlandOti, since this is just an error message caused by a connection error, there is no one working on a fix right now. But thanks for the clarification.

[2017-06-29 11:58] gabraganca opened #92 "Current yearly revenue goes up to the end of the year."
#### I'm opening this issue because:
  - I think I've found a bug.

#### What's going wrong?

When calculating the revenue report for the current year, it uses all days of the year, which provides a wrong daily average. I think it should use the first day of the year up to the present day.

#### How can the `urcli` team reproduce the problem?

`urcli revenue 2017`, where 2017 is the current year.

[2017-06-29 12:02] trolster commented on #92
Good catch. If you take the time to fix this, do you think you could also take a look at #81? They are somewhat related.

[2017-06-29 12:09] gabraganca commented on #92
Sure. I'll handle these two. :+1:

[2017-06-29 19:04] Alex-Mann opened #93 "cli is stuck at Getting startDate..."
#### I'm opening this issue because:
  - I think I've found a bug.

#### What's going wrong?
After calling urcli setup, I input my api token and I get the following error, which then is followed by the cli becoming stuck at `⠙ Getting startDate...`

#### How can the `urcli` team reproduce the problem?
Following the urcli setup as below:
[code]

### supporting information:

 - [x] `node -v` prints:

[2017-06-29 19:07] trolster commented on #93
Hi @Alex-Mann, thanks for the report. I'll look into this and get back to you. In the mean time you can use a previous version. `npm i -g urcli@2.5.2` should work well enough for now, but you'll want to upgrade when I get this one sorted.

[2017-06-29 19:09] trolster commented on #93
Btw, this is caused by the API not returning any reviews. Either the API is experiencing and error, or you haven't done any reviews yet. It's not really important which it is.

[2017-07-02 00:12] trolster commented on #93
Looks like this is being fixed in #95 .

[2017-07-02 00:15] trolster commented on #81
Being fixed in #94 .

[2017-07-02 19:55] #81 closed

[2017-07-02 19:55] #92 closed

[2017-07-02 19:59] #93 closed

[2017-07-03 22:29] gabraganca opened #96 "Handle error message for `assign` when token has expired"
- I think I've found a bug.

#### What's going wrong?

The `assign` command runs strangely when the token has expired:

[code]

At the moment, I have two submissions assigned. `assign` receives this information and had notified me through PushBullet.

I suggest that we change the error message to something like the one shown by `revenue`:

[code]

#### How can the `urcli` team reproduce the proble

[2017-07-05 18:12] RyanCCollins commented on #93
The latest version fixed this for me. Btw, I love this package, thank you all for your work on it 😄

[2017-07-06 00:25] trolster commented on #93
Thanks Ryan, it's great to hear that from you :smile:.

[2017-07-06 05:47] trolster commented on #85
Since there is no clear path forward on this one, I'm going to close it. But thanks all for reporting your findings.

[2017-07-06 05:47] #85 closed

[2017-07-06 10:27] #96 closed

[2017-07-06 10:29] trolster commented on #96
<img width="630" alt="screen shot 2017-07-06 at 12 26 01" src="https://user-images.githubusercontent.com/667513/27907119-9f7b1340-6246-11e7-8b3f-ab11083f98ed.png">

[2017-07-13 15:07] gabraganca opened #97 "Strange error from the API"
- I think I've found a bug.

#### What's going wrong?

Sometimes I get the following error from `assign`

Then, `urcli` crashes.

I would say that this is a problem with the API and not with `urcli`. If that is the case, we can close this and I'll forward this to the support team at Udacity.

It is worth mentioning that I am running it on a server which should have fast internet connection

#### H

[2017-07-13 18:05] trolster commented on #97
Hi @gabraganca this has been reported on slack also. It's definitely a new thing. It's a DNS error, and I have no idea why it's happening. You should forward it to the reviews team and I'll leave this up in case someone else comes here with the same issue.

[2017-07-18 13:58] gabraganca commented on #97
I got another error from the API which crashed `urcli`. Unfortunately, I was not fast enough and I lost my position in the queue.

Would it be possible to detect if the error comes from the API and, if yes, it shows the error but keeps `urcli` opens?

If this is possible, I can try to implement it.

[2017-07-18 15:20] trolster commented on #97
I think the only good way to do this would be to implement logging and deal with one crash at a time, so that we actually know whats going on. I want to know what Udacity has planned before I start to implement new features, but in the mean time you could take a look at https://www.npmjs.com/package/forever. I'd be very interested in whether it works!

[2017-07-18 15:54] gabraganca commented on #97
That's interesting. I 'll try running it.

[2017-07-19 21:42] adbelis commented on #97
@trolster you should update your `urcli` to version `4.0.10`

[2017-07-19 22:46] gabraganca commented on #97
This should probably be fixed after the API update.

[2017-07-19 22:46] #97 closed

[2017-07-29 16:11] kartikarora opened #100 ""Error: getaddrinfo ENOTFOUND review-api.udacity.com review-api.udacity.com:443" and "Error: socket hang up""
# Guidelines to submit an issue

#### I'm opening this issue because:

  - urcli is crashing.

#### What's going wrong?

List of errors:
- `The API is returning the following error: "Error: getaddrinfo ENOTFOUND review-api.udacity.com review-api.udacity.com:443"`
-` The API is returning the following error: "Error: socket hang up"`

If gone unnoticed for over an hour, the submission request is del

[2017-07-29 17:45] kartikarora commented on #100
List of errors:
- `The API is returning the following error: "Error: getaddrinfo ENOTFOUND review-api.udacity.com review-api.udacity.com:443"`

[2017-07-29 17:46] Sinapse87 commented on #100
I think this is due to udacity messing up with the ip addresses of its machines. Try to change your dns to google dns

[2017-07-30 01:59] gabraganca commented on #100
I had a similar issue yesterday.  It seems that the API is unstable.@trolster mentioned in #97, a related issue:

Mikkel, should we implement a patch that would catch API error and keep `urcli` running, as you mentioned in #97 ? I'll check the [forever](https://www.npmjs.com/package/forever) package you mentioned to see if it is a viable solution.

[2017-07-30 03:05] trolster commented on #100
I don't think it's wise to change anything before we understand the error, and where it's coming from. Has anyone reported this to Udacity as a bug? If not, then let's all simply start reporting it and hopefully it will resolve itself.

I do look forward to hearing if the forever package will work. You may have to start the command from a shell script though. `forever start assign.sh` or something

[2017-07-30 13:39] sahiljuneja opened #101 "Disappearing Terminal Information in Command Prompt"
#### I'm opening this issue because:

  - urcli is doing something I don't understand.

#### What's going wrong?
In Command prompt, when I enter "urcli assign project_number", it gives me information like "You are in the following queues" followed by a table indicating position, project name etc. Followed by some more details.
But at times I have noticed that for some reason that information disap

[2017-07-30 18:25] trolster commented on #101
Hi @sahiljuneja, thanks for the report. Not sure what Windows 10 + Anaconda means? What is Anaconda and what hardware are you running on?

[2017-07-30 18:37] rtspeaks360 opened #102 "Not getting any push bullet notifications on new project assignments, even after adding the token"
Even after adding the udacity token and push bullet token. I am not receiving any push bullet notification on new project assignments. Can someone please look into it!

[2017-07-30 18:47] trolster commented on #102
Issue template needs to be filled out.

[2017-07-30 18:47] #102 closed

[2017-07-30 21:03] gabraganca commented on #101
[Anaconda](https://www.continuum.io/what-is-anaconda) is a Python distribution for scientific analysis. So, it will probably not interfere with `urcli` because it uses `node.js`.

[2017-07-30 21:07] trolster commented on #101
OK, thanks @gabraganca. @sahiljuneja what happens if it looks frozen like that and you just click in the terminal window? It sounds like it's just the terminal interface that's decided to take a nap, rather than urcli.

[2017-07-30 21:12] trolster commented on #100
Yeah, after some consideration, I've come to the conclusion that this is caused by the API and may not actually be fixable at all. For anyone who comes here in the future, report it to the API dev team at Udacity.

[2017-07-30 21:12] #100 closed

[2017-07-31 07:19] sahiljuneja commented on #101
Clicking does nothing. Only pressing "Enter" makes the text reappear. Yeah, it's possible it's the terminal considering urcli is not affected at all. I guess if no other Windows users have complained about this, it's more of a reason associated with Anaconda.

[2017-07-31 21:38] gabraganca commented on #101
A possible solution would be trying the  [Windows executable](https://github.com/trolster/urcli/releases/download/v4.0.12/urcli-win.exe). Could you test it?

[2017-08-02 02:24] sahiljuneja commented on #101
I wouldn't call that a solution, per se. Because the above hasn't caused any obvious issues. Sometimes urcli crashes, but I think that's more so the API and not urcli based on some of @trolster 's Slack posts. I will try out the Windows executable soon. Right now AVG freaked out on the file and is doing some checking 🙄 which apparently will take time. You can close this issue for now :)

[2017-08-02 03:36] #101 closed

[2017-08-02 14:06] giladgressel opened #103 "reports are truncated"
I run `urcli certs` and I get the start of the report, but it doesn't show the whole thing.
see my attached screen.

It shows me 2 projects, but in reality I have 8(ish) that I'm certified for.

Also I get similar behavior for `urcli revenue` , part of the report shows up -- but not all of it.  Sometimes I can get around that one by resizing my window and making it really big.

#### How can the `u

[2017-08-02 14:21] gabraganca commented on #103
Hi, @giladgressel. Thanks for reporting. Let me try to understand it. How many projects should be showing on the `certs` table? I want to know if this is an issue of how the table is made or with something else.

Also, could you update to the last version and test it?

[2017-08-02 14:23] giladgressel commented on #103
sure I'll update, hang on, will update this in a few minutes

Ok, now I've got
urcli -v
4.0.13

same results though

So it should a table with 8 projects -- sorry that wasn't clear.  I'm certified for 8 I think.

[2017-08-02 15:02] gabraganca commented on #103
Could you check if the file `.urcli/config.json` in your home directory contains just these two projects or if it has all of them?

[2017-08-02 15:14] giladgressel commented on #103
it's got all of them

9 total

[2017-08-02 15:17] trolster commented on #103
Looks like it might be an issue with the terminal. You could try installing iTerm2 to check if that fixes the problem: https://www.iterm2.com/.

[2017-08-02 19:09] jaycwb opened #104 "Feature Request: Loop for reconnection"
#### What's the feature?
I've been getting some connections-related errors recently (such as `ECONNRESET`). I'm not 100% sure what is the rationale behind them, but I'm confident this is an internet connection issue. It would be nice if `urcli` wouldn't crash if the connection is down for any reason, and it would be on loop still reporting the connection issue (maybe even raise a notification peri

[2017-08-02 21:37] gabraganca commented on #104
Hi, @jaycwb . Thanks for suggesting it. This would really improve `urcli` functionality.

You could also write a script in a language that you know that would run `urcli` in a loop, forever. For example, you could write the following into a `bash` script and execute it:

[code]

Also, next time it happens, could you copy and paste the error message here?

[2017-08-03 04:06] giladgressel commented on #103
sigh, unfortunately it's not a terminal problem.  iterm2 has the exact same behavior 😞 .
Also worth noting, same terminal shows `urcli certs` perfectly when I run it from my ec2 instance.  So it's probably related to my local system setup somehow

[2017-08-03 15:31] trolster commented on #104
Hi @jaycwb, I've been looking at doing this, and it's not as simple as it sounds I'm afraid. It would require a restructuring of the logic in the assign command itself, and that's not something I want to touch unless the errors persist. Currently @gabraganca's solution is far superior to a rewrite of error handling.

I've had the error myself a few times, but then they stopped. It's the same for e

[2017-08-03 15:31] #104 closed

[2017-08-03 15:34] jpbarddal commented on #104
Thanks guys! I will definitely try that and if I find any other connection errors, I will definitely send them over! Thanks for the great effort on the tool!

[2017-08-03 16:30] trolster commented on #103
Yeah, I'm stumped. Could you try upgrading node? Looks like you are on 6.0.0. That might be the issue. You should probably upgrade to version 8, but at least version v6.11.2.

[2017-08-03 17:31] giladgressel commented on #103
HEY!
`brew upgrade node`  got me to version 8 and it's fixed!
nice
WOW it even fixed my esc key problem from way back when.!

[2017-08-03 17:31] #103 closed

[2017-08-03 17:32] trolster commented on #103
Awesome! Glad to hear it.

[2017-08-05 08:38] HoijanLai opened #105 "The script quits without retrying when connection hangs up"
The script is not able to run forever if I have unstable network connection.

I just installed the latest version of urcli on _macOS Sierra_  & _Ubuntu 16.04_. And I found that the script will quit when the network hangs up, while the script will keep retrying and waiting the connection to recover without exiting on my another _Ubuntu 16.04_, which runs an older version of urcli.

Here's what I tr

[2017-08-05 08:48] trolster commented on #105
Hi @HoijanLai, please fill out the template when opening an issue.

Take a look at this issue: https://github.com/trolster/urcli/issues/104.

[2017-08-05 08:48] #105 closed

[2017-08-06 18:57] gabraganca commented on #105
duplicate of #104

[2017-08-06 18:58] gabraganca commented on #105
Duplicate of #104

[2017-08-11 19:53] jmorenor opened #106 "Getting an error when using `urcli assign` (request must have at least one valid project/language pair)"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - urcli is doing something I don't understand.

#### What's going wrong?
I am not able to use `urcli` to join/be assigned to any project queue.

#### How can the `urcli` team reproduce the problem?
1. Type `urcli setup`
2. Input a valid Udacity token
3. Select **en-us** as language
4. Select **no** for PushBullet
5. Type `urc

[2017-08-11 21:01] trolster commented on #106
Hi @jmorenor, there seems to be nothing wrong with the request that urcli is sending out, so I can't say what is causing this. Can you also try `urcli assign all` and let me know how that goes?

Btw, urcli isn't crashing. It's the API that is closing the connection and responding with the error, so throwing an error is expected behaviour :-). I've edited your issue to reflect that.

[2017-08-14 10:59] synthercat opened #107 "I still got the #97 issue"
urcli exits with
`Error: getaddrinfo ENOTFOUND review-api.udacity.com review-api.udacity.com:443`

It could be after just a few hours it could be after days. Any thoughts? This was supposed to be closed.
Let me know if I can help in any way

[2017-08-14 11:06] trolster commented on #106
Since there hasn't been any movement on this I'm going to assume it's fixed and close it.

[2017-08-14 11:06] #106 closed

[2017-08-14 11:11] trolster commented on #107
Hi @synthercat, please fill out the template when reporting an issue.

Beyond that, take a look at this issue #104 and #100.

Also, make sure to report this error to Udacity.

[2017-08-14 11:11] #107 closed

[2017-08-14 12:22] 0rangeSeaW0lf commented on #106
Hi @trolster,

Sorry for not answering before. I was the last couple of days off due to sickness. I just tried `urcli assign all` and got the same response: "request must have at least one valid project/language pair"

[2017-08-14 12:25] trolster commented on #106
OK, no worries, but you should report this to Udacity. Email reviews-support@udacity.com. Whatever the issue is it seems unlikely to have anything to do with urcli. I'm of course willing to take another look if they have no answer for you.

[2017-09-03 18:54] samanthakem opened #108 "Feature Request: Missing flag for language when using the command urcli assign."
#### What's the feature?

I would like to be able to choose the language when using the command ```urcli assign <list of ids>```. We could add a flag such as ```--lang``` to achieve this goal. In the end, I would do something like that: ```urcli assign 123 345 --lang=pt-br```.

#### What problem is the feature intended to solve?

Sometimes, I want to review projects with specific languages and unl

[2017-09-03 20:34] samanthakem commented on #108
UPDATE: Just found out the API does not support this :( I will see if I can find another way around.

https://review.udacity.com/api-doc/#/projects

[2017-09-04 07:55] trolster commented on #108
Hi Samantha, I actually don't think there is a way around this limitation of the API. But maybe it's worth getting in touch with one of the devs and ask them if they could fix it? It should be an easy feature to implement on our side.

[2017-09-04 07:55] #108 closed

[2017-09-04 14:35] samanthakem commented on #108
Will do it, @trolster! Thanks though (sorry for the pt-br version of the *UPDATE* comment lol I mix languages sometimes when I am using both with lots of frequency, I am sure you got an e-mail with Brazilian Portuguese on it, anyways..... have a great week)

[2017-09-06 05:26] trolster commented on #108
@samanthakem No worries! I wish you a great week also :-).

[2017-09-07 16:37] shivasurya commented on #70
This issue persists. I really heavily on push bullet notification but I have configured with push bullet notification, not even single time received across my devices. Kindly check it out, If something is yet to be done from my side kindly notify me.

[2017-09-07 16:39] trolster commented on #70
@shivasurya Have you tried updating to the latest version?

[2017-09-07 16:57] shivasurya commented on #70
Yes, of course, v4.0.14. I have cloned source code and having my personal customizations such as slack notification.

[2017-09-07 17:03] trolster commented on #70
I can't reproduce the issue. Did you try @Sinapse87's solution:

If you have more comments on the issue, then remember to give a proper issue report, with node version and which OS you are using. Also, try testing the vanilla version of urcli (without your customisations).

[2017-09-07 22:42] Sinapse87 commented on #70
Mate, if it is not working for you just append the token to urcliAssign: urcli .....  --push {yourToken}

[2017-09-09 17:36] trolster commented on #70
Hi @shivasurya, let me know if this issue was fixed for you or not.

[2017-09-11 17:12] shivasurya commented on #70
no, not yet! until keep closed (y)

[2017-09-21 20:13] trolster commented on #70
OK, I'm closing this since it's been a while and there is no actionable information.

[2017-09-21 20:13] #70 closed

[2017-10-02 07:22] Shreeyak opened #109 "urcli assign UI not showing"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - I think I've found a bug.
  - urcli is doing something I don't understand.

#### What's going wrong?
urcli is not showing the UI. The screen is blank. The script still seems to be running and responds to the key presses. Pressing `esc` shows the exiting dialog, pressing `o` shows the options.

I am running this on a digital

[2017-10-02 07:34] Shreeyak commented on #109
UPDATE: while pasting the config.json file here, I noticed this:
[code]
Which is weird, because I just uninstalled and reinstalled urcli.

So I removed the config file: `mv config.json ~config.json` and re-ran `urcli setup`. The UI now displays properly!!

Here is my new config.json file:
[code]

### Bug and solution found

So it seems that `urcli setup` AND `urcli assign config` did not update th

[2017-10-02 07:43] #109 closed

[2017-10-02 07:55] Shreeyak opened #110 "`urcli assign all` displays a blank UI"
# `urcli assign config` adds a flag that causes the assign script to display a blank UI

#### I'm opening this issue because:

  - I think I've found a bug.

#### What's going wrong?
The `urcli assign all` command displays a blank UI after running `urcli assign config`:
![urcli2](https://user-images.githubusercontent.com/12800185/31068098-06a9ccec-a774-11e7-93c1-2ba0520198f6.png)

#### How can the

[2017-10-02 15:44] trolster commented on #110
Thanks for making us aware of this @Shreeyak . I'll take a look asap.

[2017-10-03 21:32] Alex-Mann opened #111 "urcli crashing on node 8.6"
#### Edit: This can be closed - my computer was not set up with the correct language. Would probably be useful though to have a message stating a language was not saved if this was the case.

#### I'm opening this issue because:
  - urcli is crashing.

#### What's going wrong?
I cannot assign myself into the queue

#### How can the `urcli` team reproduce the problem?
I am reviewing React ND projec

[2017-10-03 21:50] trolster commented on #111
Hi Alex, did you run `urcli setup`? If you have a new certification you need to run `urcli certs`.

[2017-10-03 21:57] trolster commented on #111
OK, I see your edit now. You may want to add a comment in the future, rather than editing, since the maintainer often reads the issue in the email, which doesn't contain the edit.

It's not possible to get language info from the API, so there is no way to know if the user entered incorrect language info.

[2017-10-03 21:57] #111 closed

[2017-10-08 09:33] Deborah-Digges opened #112 "Feature Request: urcli setup using options"
#### What's the feature?
A way to configure the cli without user interaction which is currently required.

#### What problem is the feature intended to solve?
Currently, it is difficult to run the script on cloud providers like heroku which do not provide command line access to the instance. Setup requires some form of user interaction automation using HERE files or expect, which is quite cumberso

[2017-10-08 13:13] trolster commented on #112
Hi @Deborah-Digges,

Have you considered copying over the config file from your local instance?

[2017-10-11 19:27] trolster commented on #112
Hi @Deborah-Digges,

I assume you've found a solution. Thanks for taking the time to raise the issue though.

[2017-10-11 19:27] #112 closed

[2017-10-12 00:40] gabraganca opened #113 "Check how many days ago a project was reviewed."
#### What's the feature?

A way to see how many days ago a project was reviewed.

#### What problem is the feature intended to solve?

Udacity will be removing certification of reviewers that did not have reviewed a particular project for more than 90 days.

#### Is this feature similar to an existing feature in another tool?

Maybe `certs`.

#### Is this a feature you're prepared to implement, wi

[2017-10-12 19:55] gabraganca commented on #113
I found a workaround to show the projects reviewed in the last 90 days.

[code]

I think this solves my issue and a new feature does not need to be developed.

[2017-10-12 19:55] #113 closed

[2017-10-18 06:05] kartikarora opened #114 "Pushbullet notification error"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - I think I've found a bug.

#### What's going wrong?

I've been getting this strange error lately
[code]

#### How can the `urcli` team reproduce the problem?

Setup `urcli` with PushBullet, wait for a submission to be assigned. As soon as one is assigned, this error shows up briefly and no notification is sent to my PushBul

[2017-10-18 06:05] kartikarora commented on #114
I checked the pushbullet pricing page, API access is available in the free version

[2017-10-18 16:41] gabraganca commented on #114
Hi @kartikarora thanks for reporting.

This is very odd. Have you tried generating a new API key with PushBullet and reconfiguring `urcli`?

[2017-10-18 18:04] kartikarora commented on #114
@gabraganca I did. Still the same.

[2017-10-18 18:39] gabraganca commented on #114
I think I found a similar issue RocketMap/PokeAlarm#118.

Could it be possible that you went above the [maximum threshold](https://docs.pushbullet.com/#limits) of [500 API calls this month](https://docs.pushbullet.com/#push-limit)?

[2017-10-18 18:43] kartikarora commented on #114
500 api calls this month is only possible if I had a submission and `urcli` kept restarting. I haven't done more than 70 reviews this month.

[2017-10-18 22:04] gabraganca commented on #114
Is it possible that `urcli` kept restarting?

[2017-10-18 22:17] Sinapse87 commented on #114
Yes, that is the cause. Grep the log and you will see more than 500 restarts

[2017-10-18 22:19] gabraganca commented on #114
@Sinapse87 may I ask you what log?

[2017-10-19 06:30] trolster commented on #114
It sounds like another result of connectivity issues on Udacity's side. It would be quite a hassle to implement something that avoided reaching the cap on PushBullet API calls, so I think this is going to end up not being fixed. I've always thought I should have gone with email notifications instead, but that ship has sailed (unless someone wants to implement that).

Alternatively, Udacity could i

[2017-10-19 06:36] Sinapse87 commented on #114
I do not think this issue is going to happen again. They had some major connectivity issue with Amazonws these days. But if that does not happen again, we should be fine with the notification cap

[2017-10-19 06:39] trolster commented on #114
@Sinapse87 So you would prefer PushBullet over email? I've never used PushBullet, so I honestly don't know what the advantages are.

[2017-10-19 06:41] Sinapse87 commented on #114
That for sure. PushBullet is a brilliant piece of software!

[2017-10-19 06:44] trolster commented on #114
@Sinapse87 Can you tell me what the advantages are? :smile: I mean, over email for instance?

[2017-10-19 06:57] Sinapse87 commented on #114
You get a push notification on all your devices (I am constantly using three devices), that contains the url of review so you can access immediately. You can share stuff between all your devices. You can disable/enable notification only for a specific app like I do some time on my corporate laptop...

[2017-10-19 06:59] kartikarora commented on #114
@trolster Emails are a pain to manage IMO. Pushbullet notifications can be just swiped away, but not emails. They keep on collecting in the inbox and before you know it you have over 1000 unread emails.

[2017-10-19 07:04] trolster commented on #114
OK, so no reason to remove PushBullet. But I do think that email as an alternative could be used in a similar manner with filters. There are obvious drawbacks to PushBullet, including a signup process, having to use an API key, as well as the API limit. But from your answers I don't really see a need to make any changes.

Kan I close this one @kartikarora?

[2017-10-19 07:06] kartikarora commented on #114
Yes sure. Since we have established it's not a `urcli` error, its safe to close the issue.

[2017-10-19 07:06] #114 closed

[2017-11-10 19:59] xiafangmo opened #115 "Setup stuck at "Getting startDate""
# Guidelines to submit an issue

#### I'm opening this issue because:

  - urcli is doing something I don't understand.

#### What's going wrong?
This warning pops up at the end of the setup process.
[code]
and the set-up cannot proceed.

#### How can the `urcli` team reproduce the problem?

I reset my mac and was trying to set up urcli. So I'm assuming to set it up would reproduce this problem. F

[2017-11-11 07:22] trolster commented on #115
Hi @xiafangmo, thanks for posting this issue. I don't know what the cause might be. It looks like you've been through a lot of trial and error, so the only thing I can really come up with is to send a bug report to Udacity. The API engineers should be able to see what data the API is returning, and why it's not conforming to the API spec. I'll keep this open and hope that anyone who has this probl

[2017-11-11 11:10] shivasurya commented on #110
@trolster sorry for irrelevant comment here. Can you post wiki how to build this repo into executable  binary ? Thanks

[2017-11-11 11:17] trolster commented on #110
You can find info and executables here: https://github.com/trolster/urcli/wiki/Executables. Please open a new issue if you have questions in the future.

[2017-11-11 11:58] shivasurya commented on #110
Hi,
Thank for the response. my question was how to turn source into an executable one. Can I have instructions to build the source code by installing the corresponding dependency?

[2017-11-11 12:00] trolster commented on #110
@shivasurya, please don't use this issue for unrelated questions. Open a new issue with your question.

[2017-12-15 17:16] BoPengGit opened #116 "pos field shows '0'."
# Guidelines to submit an issue

#### I'm opening this issue because:

  - urcli is doing something I don't understand.

#### What's going wrong?

The pos field in the queue table after urcli assign x is entered, shows 0 for the queue position for all queued projects.
![untitled](https://user-images.githubusercontent.com/13712151/34052755-58d5648c-e189-11e7-863d-57d1e2a9f790.png)

#### How can the

[2017-12-15 17:18] trolster commented on #116
Hi @BoPengGit, thanks for putting this up here. It's an API change from Udacity, and it's not something the urcli team can do anything about. They have deliberately removed visibility of queue positions from the API in preparation for changes that will make the queue non-linear.

I'll leave this open so that others have a chance to see it.

[2017-12-15 17:20] trolster commented on #115
Since Udacity is creating it's own tool for reviewers, it's not feasible to fix this bug. Thanks for letting us know about it @xiafangmo!

[2017-12-15 17:21] trolster commented on #110
Since Udacity is creating it's own tool for reviewers, it's not feasible to fix this bug. Thanks for letting us know about it @Shreeyak !

[2017-12-15 17:21] #110 closed

[2017-12-15 17:22] #115 closed

[2017-12-15 17:29] shivasurya commented on #110
May i know where did you get this news "Since Udacity is creating it's own tool for reviewers" ?

[2017-12-15 17:32] trolster commented on #110
@shivasurya, you can find all kinds of updates on what is going on in the mentor Slack channel. They have been regularly updating the community on what they are planning.

[2017-12-15 17:34] Shreeyak commented on #110
@trolster sure, no problem. Thanks for looking into it!

May I suggest adding a note regarding this issue in a section titled known issues? Shall I submit a pull request for it?

[2017-12-15 17:37] trolster commented on #110
That's a great idea! Thanks for thinking of that. I don't know why we haven't done that a year ago :-). I'll be happy to receive a pull request with a short description of the issue, in a "Known Issues" section.

[2017-12-15 17:37] shivasurya commented on #110
@trolster sorry to interrupt. Is there any breaking API changes that would break the current urcli version, so that I can keep updated and operate it normally.

[2017-12-15 17:38] Shreeyak commented on #110
Thanks! I'll submit a pull request by Sunday.

On 15-Dec-2017 11:07 PM, "s.shivasurya" <notifications@github.com> wrote:

[2017-12-15 17:39] trolster commented on #110
@shivasurya, not that I'm aware of. And Udacity has said that there aren't, so it seems safe to use urcli. And since pretty much all reviewers are using urcli, I'm guessing it will become very obvious if a breaking change occurs.

[2017-12-15 17:49] Shreeyak commented on #110
@trolster I'm currently seeing how urcli may be integrated with Google APIs
to do stuff like send an email and a notification to your phone.
I'm stuck with some deadlines, but next week I hope to make some progress.
I don't know js, so progress is slow. Some notifications would be real nice
to me. And Google has a free tier where I'm running my script right now and
works very well. They even have

[2017-12-15 18:08] trolster commented on #110
Hi @Shreeyak, there already is notifications for the phone using PushBullet. But I hope you are aware that Udacity is working on it's own tool for reviewers, which should be ready in a couple of months. You work might be for nothing :-).

[2017-12-15 18:24] Shreeyak commented on #110
Yeah I'm using pishbullets, but it's really buggy for me. Doesn't send
notifications half the time. And well, a few months is a long time :)

I get to learn something new too! JS seems crucial for anything to do with
web.

On 15-Dec-2017 11:38 PM, "Mikkel Trolle Larsen" <notifications@github.com>
wrote:

[2017-12-15 18:54] BoPengGit commented on #116
Hi Mikkel,

Thanks for the response. Do you know what it means to be non-linear? Did
you see this in the slacks channel?

Thanks for your work and help to the community!

On Fri, Dec 15, 2017 at 11:18 AM, Mikkel Trolle Larsen <
notifications@github.com> wrote:

[2017-12-15 21:49] trolster commented on #116
It means a prioritized queue system, where quality matters. You can take a look in the #reviews-announcements channel in the slack channel

[2017-12-18 22:03] gabraganca commented on #116
Hi, @trolster . Maybe we can just remove this column from the table, or it is not worth since Udacity engineers are building an assigner in-house?

[2017-12-20 02:05] gabraganca commented on #116
Well, I think we don't need to implement the change I suggested above. The API is going to be shut down which will make `urcli` inactive.

[2017-12-20 05:08] trolster commented on #116
I agree @gabraganca. There have been questions about it on the Slack channel, and I don't think it's going to be an issue for long. There is no reason to go through a whole update just for this.

[2018-01-20 02:34] ppujari opened #120 "Not getting Review Notifications"
# Guidelines to submit an issue

#### I'm opening this issue because:

  - urcli is crashing.
  - I think I've found a bug.
  - urcli is doing something I don't understand.
  - Other (_see below for feature requests_):

#### What's going wrong?

#### How can the `urcli` team reproduce the problem?

### supporting information:

 - [ ] `node -v` prints:
 - [ ] `urcli -V` prints:
 - [ ] Windows, OS X

[2018-01-20 09:42] trolster commented on #120
Hi @ppujari, urcli is being replaced by an official Udacity tool in the near future. There won't be any more development on the program. Since I don't use pushbullet myself, I can't really help you with this one. I suggest you try to find help in the reviews-bugs channel.

[2018-01-20 09:54] trolster commented on #120
@ppujari I just saw that you've already posted asking for help on Slack. Maybe @gabraganca has some ideas?

[2018-01-20 14:47] gabraganca commented on #120
@ppujari can you check if PushBullet is active in `urcli`? You can do it by opening the options menu (press `o` in the `urcli` dashboard).
![selection_063](https://user-images.githubusercontent.com/2700254/35184683-042de2a6-fde0-11e7-8880-314c63b8cab6.png)

[2018-01-21 04:09] ppujari commented on #120
I checked, the highlighted in red is turned off in my case. Thanks, Pradeep 

    On Saturday, January 20, 2018 1:54 AM, Mikkel Trolle Larsen <notifications@github.com> wrote:

 Reopened #120.—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-21 04:12] ppujari commented on #120
I checked, the highlighted in red is turned off in my case. How to save after toggle.  Thanks, Pradeep 

    On Saturday, January 20, 2018 8:09 PM, Pradeep Pujari <Pradeepp@rocketmail.com> wrote:

 I checked, the highlighted in red is turned off in my case. Thanks, Pradeep 

    On Saturday, January 20, 2018 1:54 AM, Mikkel Trolle Larsen <notifications@github.com> wrote:

 Reopened #120.—
You are

[2018-01-21 08:08] #120 closed

[2018-01-21 12:47] gabraganca commented on #120
You turn it on/off using the spacebar and press `Enter` to go back to the dashboard.

[2018-01-31 16:38] kartikarora commented on #116
Since it's not a `urcli` issue, and the column is not being removed, this issue should be closed. Closed issues look better! :stuck_out_tongue:

[2018-02-03 10:06] trolster commented on #116
Hi @kartikarora , I'm leaving it open so we don't get duplicates 😄 . While closed issues are better, open issues act as a deterrent for frustrated people to repost issues.

[2018-02-08 15:59] SittingFox opened #121 "Feature Request: Run without assigning"
### What's the feature?

Let urcli run without actually trying to assign submissions. It would still send desktop notifications for newly picked-up submissions, send Pushbullet notifications, show what submissions the user currently holds, etc.

### What problem is the feature intended to solve?

The new reviewer dashboard from Udacity currently doesn't have a number of features, including letting

[2018-02-08 16:48] trolster commented on #121
Hi Stacy, don't you think it's better to ask the reviews team to implement browser/email/pushbullet notifications? Creating a new release of urcli would mean a lot of work for me at this point. I haven't touched the codebase for a long time and the whole release process is iffy.

@cameronwp, can you let us know if this is a priority for your team? I'd rather not have anyone work on a feature you a

[2018-02-08 17:15] Digizard commented on #121
Already asked, but I questioned how quickly those would happen. I guess we can see what Cam says.

Else I may poke at it if I get free time, I guess. I always liked having the terminal sitting in the corner so I could know what's going on visually, too. But we'll see.

[2018-02-08 17:39] trolster commented on #121
OK, I looked into it a bit and it looks like the /me/assigned endpoint still works as it should. Maybe this is an easy one. I'll take a more in depth look at it soon.

[2018-02-08 18:02] cameronwp commented on #121
The new dashboard is a big priority for us. Lots of work going on there right now. I'm not involved in prioritizing features for it and I'm not sure where push notifications is on the list, but it's something we are definitely aware of.

[2018-02-08 19:16] cameronwp commented on #121
FWIW, our official recommendation is that you do not use the new dashboard with an external tool (like urcli) at the same time.

Also: https://waffle.io/udacity/reviewer-dashboard-feedback/cards/5a7c725a1e723b001ba79b1d

[2018-02-08 19:21] trolster commented on #121
Hi @cameronwp , thanks for the info. What I'm thinking is to limit the command to _only_ hit the `/me/assigned` endpoint. Could that cause issues? This would just be temporary until you guys get something up and running.

[2018-02-08 19:37] cameronwp commented on #121
I can't really make a recommendation or give advice about endpoints. We <3 urcli and the amazing work that you've put into it for the community, but from this point forward, the only tool we can support is the new dashboard. Sorry!

[2018-02-08 19:44] trolster commented on #121
Hey @cameronwp, no worries! And thanks for saying that about urcli ❤️ . I've implemented a simple notification thingy that seems to work. I'll try use it for a couple of hours and see if it creates problems. I assume it's not an issue if everyone starts hitting the API every 30 seconds to check for new assignments?

[2018-02-08 19:47] trolster commented on #121
<img width="709" alt="screen shot 2018-02-08 at 20 45 39" src="https://user-images.githubusercontent.com/667513/35994609-368dbcea-0d11-11e8-9d17-90b7a3f8a0ac.png">

It works for Desktop notifications, but I can't test for Pushbullet.

[2018-02-08 19:55] cameronwp commented on #121
Nah, every 30 seconds is fine.

[2018-02-08 20:02] trolster commented on #121
@SittingFox, the above solution seems to be working for me. I get new reviews assigned with the new command running, and I get the notifications. You simply use the command `urcli notify` and you have at least Desktop notifications. No pushbullet for now. Any ideas?

[2018-02-08 21:55] Digizard commented on #121
Desktop notifications and the little window is awesome, for sure! 😄

I could try to test it for Pushbullet. I don't really use it much, but I do have my phone and urcli set up for it.

[2018-02-08 22:14] trolster commented on #121
OK, it's published to npm. To update just reinstall it. No configuration needed. But also no pushbullet for now. It should be version 4.1.1. You can check with `urcli --version`.

[2018-02-08 22:28] Digizard commented on #121
Alright, upgraded, running, and looking good! Thanks a lot, Mikkel! 😀

I really appreciate that you took the time to add this extra feature, and so quickly too. If there was a send a coffee/tip button, I'd be hitting it, haha. Really, thanks!

[2018-02-08 22:50] trolster commented on #121
Simple to do and a bit of a last hurrah for urcli I think 😄 . Let me know if it causes any issues (it really shouldn't).

[2018-02-08 22:50] #121 closed

[2018-02-08 23:03] trolster commented on #116
Time to close this one I think! Thank you guys for participating in the discussions 😄 .

[2018-02-08 23:03] #116 closed

[2018-02-09 13:48] gabraganca commented on #121
Hey, @mikkel. I am stepping into the conversation a little late. What do I need to do to test the PB notification?

[2018-02-09 14:34] trolster commented on #121
Hi @gabraganca! I'll update the notify command tomorrow and let you know how to test it. I think it's really simple to implement. Can we open a new issue for this?

[2018-02-09 14:51] gabraganca commented on #121
Sure, @mikkel.

[2018-02-09 14:57] gabraganca opened #122 "Add PushBullet support to `notify`"
#### What's the feature?

Assignment notification through PushBullet.

#### What problem is the feature intended to solve?

The new official dashboard does not support assignment notification yet. Notification through the OS was already implemented, but the community can take advantage of a PushBullet notification feature since we would be able to be notified on other devices, like in mobile.

###

[2018-02-10 14:01] trolster commented on #122
I've pushed version 4.2.0, which has pushbullet option for the notify command. If you clone the project you can test the command like so: `babel-node src/index.js notify --push`. There is no error handling, so only test if pushbullet actually works, not the robustness of the command itself.

[2018-02-10 15:19] gabraganca commented on #122
Ok, @trolster. It seems to be working. When I started running it, it notified me on present assignments. I'll wait for a new assignment to check if it will work accordingly.

[2018-02-10 15:37] gabraganca commented on #122
It is working fine. I got a new assignment and the PB notification appeared. :+1:

[2018-02-10 16:20] trolster commented on #122
Yeah, I managed to get PushBullet working on my phone and I got notifications too. I'll publish v4.2.0 to npm. I don't want to announce on Slack though, since I don't want to get into the middle of the current discussion. Do you have any idea where we should announce?

[2018-02-10 17:55] trolster commented on #122
Alright, I'm happy with the way it works so I've published v4.2.0. Would you mind finding a way to announce @gabraganca? I'm out of time for today.

[2018-02-10 18:22] gabraganca commented on #122
Sure, @trolster .

[2018-02-10 18:22] #122 closed

[2018-02-11 12:18] gabraganca commented on #122
Hey, Mikkel. I just read your message about no publishing on Slack, which I
think it is a little too late now.

Em 10 de fev de 2018 15:55, "Mikkel Trolle Larsen" <notifications@github.com>
escreveu:

[2018-02-11 12:19] trolster commented on #122
No worries!